@font-face {
  font-family: "iconfont"; /* Project id 2685299 */
  src: url('iconfont.woff2?t=1634634961816') format('woff2'),
       url('iconfont.woff?t=1634634961816') format('woff'),
       url('iconfont.ttf?t=1634634961816') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chahao:before {
  content: "\e668";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-gou:before {
  content: "\e608";
}

.icon-wenben:before {
  content: "\e609";
}

.icon-rilijia:before {
  content: "\e649";
}

.icon-diaocha:before {
  content: "\e797";
}

.icon-bofang:before {
  content: "\e602";
}

.icon-guanbi:before {
  content: "\e601";
}

.icon-quxiao:before {
  content: "\e603";
}

.icon-dafen:before {
  content: "\e62b";
}

.icon-rili:before {
  content: "\e691";
}

.icon-fenxiang:before {
  content: "\e63f";
}

.icon-fenxiang1:before {
  content: "\e642";
}

.icon-xiaoxi:before {
  content: "\e61e";
}

.icon-pdf:before {
  content: "\e600";
}

.icon-youjiantou:before {
  content: "\e8f9";
}

.icon-shezhi:before {
  content: "\e670";
}

