<template>
  <div class="Agenda pageInit">
    <h1 class="pageTitle">Agenda</h1>

    <el-table :data="tableData"
              header-row-style="font-size:20px;color:#58595a"
              style="width: 100%"
              :cell-class-name="tableCellClassName"
              :row-class-name="tableRowClassName"
              row-key="id"
    >
      <el-table-column prop="time" label="Time" width="100" default-expand-all>
        <template #default="scope">
            <p style="margin-left: 10px" v-if="scope.row.timeType=='demand'">On<br>Demand</p>
            <p style="margin-left: 10px" v-else>
              {{scope.row.startTime}}<br>
              <span style="width: 52px;text-align: center;display: inline-block;">to</span><br>
              {{scope.row.endTime}}
            </p>
        </template>
      </el-table-column>
      <el-table-column prop="sessionInformation" label="Session Information">
        <template #default="scope">
          <div v-if="!scope.row.isGroup">
            <p style="margin-left: 10px;font-size: 15px;font-weight:bold;color:#f58220">{{ scope.row.sessionInformation.name }}</p>
            <p style="margin-left: 10px">Status:{{ scope.row.sessionInformation.status }}</p>
            <p style="margin-left: 10px">Session Track:{{ scope.row.sessionInformation.sessionTrack }}</p>
            <p style="margin-left: 10px">Session Level:{{ scope.row.sessionInformation.sessionLevel }}</p>
          </div>
          <div v-else style="font-size: 20px;font-weight:bold;color:#58595a">
            {{ scope.row.sessionInformation.name }}
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="speakers" label="Speaker(s)" width="150">
        <template #default="scope">
          <div v-for="item in scope.row.speakers">
            <p style="margin-left: 10px">{{ item.name }}</p>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="sessionType" label="Session Type" width="150"/>
      <el-table-column prop="actions" label="Actions">
        <template #default="scope">
          <div class="btnsContainer" v-if="!scope.row.isGroup">
            <p>
              <i class="iconfont icon-gou" style="color:#2969a2"></i>
              <span>Added to My Agenda</span>
            </p>
            <p>
              <i class="iconfont icon-wenben" style="color:#f58220"></i>
              <span>Add to My Agenda</span>
            </p>
            <p>
              <i class="iconfont icon-jiahao" style="color:#f58220"></i>
              <span>Remove from My Agenda</span>
            </p>
            <p>
              <i class="iconfont icon-rili" style="color:#f58220"></i>
              <span>Added to Calendar</span>
            </p>
            <p>
              <i class="iconfont icon-diaocha" style="color:#f58220"></i>
              <span>Survey</span>
            </p>
          </div>
          <div v-else style="display: flex;align-items: center">
            <span style="font-size: 15px;margin-right: 10px">Minimized</span>
            <p class="icontriangle" style="margin-right: 10px"></p>
            <el-badge :value="scope.row.children.length" :max="99" class="item" style="width:50px">
            </el-badge>
          </div>
        </template>
      </el-table-column>

    </el-table>
  </div>
</template>

<script lang='ts'>
import {defineComponent, reactive, toRefs, onBeforeMount, onMounted} from 'vue'

interface DataProps {
}

export default defineComponent({
  name: '',
  setup() {
    const data = reactive({
      tableData: [
        {
          id:0,
          isGroup:false,
          time: 'On Demand',
          timeType:'demand',
          sessionInformation: {
            name: 'AB101 - Wi-Fi Basics:RF Nuts and Bolts',
            status: 'On Demand Coming Soon',
            sessionTrack: 'Hybrid Workplace',
            sessionLevel: 'Beginner'
          },
          speakers: [
            {name: 'Eric Johnson'},
            {name: 'Sylvia Hooks'},
          ],
          sessionType: 'Keynote',
          actions: {
            isAddToAgenda: false,
            isAddToCalendar: false,
          }
        },
        {
          id:1,
          isGroup:false,
          time: 'On Demand',
          timeType:'specific',
          startTime:'4:00 PM',
          endTime:'5:00 PM',
          sessionInformation: {
            name: 'AB101 - Wi-Fi Basics:RF Nuts and Bolts',
            status: 'Live',
            sessionTrack: 'Hybrid Workplace',
            sessionLevel: 'Beginner'
          },
          speakers: [
            {name: 'Eric Johnson'},
            {name: 'Sylvia Hooks'},
          ],
          sessionType: 'Keynote',
          actions: {
            isAddToAgenda: false,
            isAddToCalendar: false,
          }
        },
        {
          id:2,
          isGroup:true,
          time: 'On Demand',
          timeType:'specific',
          startTime:'4:00 PM',
          endTime:'5:00 PM',
          sessionInformation: {
            name: 'Breakout Sessions',
            status: '',
            sessionTrack: '',
            sessionLevel: ''
          },
          speakers: [

          ],
          sessionType: '',
          actions: {

          },
          children:[
            {
              id:'2-1',
              isGroup:false,
              time: 'On Demand',
              timeType:'specific',
              startTime:'4:00 PM',
              endTime:'5:00 PM',
              sessionInformation: {
                name: 'AB101 - Wi-Fi Basics:RF Nuts and Bolts',
                status: 'Live',
                sessionTrack: 'Hybrid Workplace',
                sessionLevel: 'Beginner'
              },
              speakers: [
                {name: 'Eric Johnson'},
                {name: 'Sylvia Hooks'},
              ],
              sessionType: 'Keynote',
              actions: {
                isAddToAgenda: false,
                isAddToCalendar: false,
              },
            }
          ]
        },
        {
          id:3,
          isGroup:false,
          time: 'On Demand',
          timeType:'specific',
          startTime:'7:00 PM',
          endTime:'8:00 PM',
          sessionInformation: {
            name: 'AB101 - Wi-Fi Basics:RF Nuts and Bolts',
            status: 'Live',
            sessionTrack: 'Hybrid Workplace',
            sessionLevel: 'Beginner'
          },
          speakers: [
            {name: 'Eric Johnson'},
            {name: 'Sylvia Hooks'},
          ],
          sessionType: 'Keynote',
          actions: {
            isAddToAgenda: false,
            isAddToCalendar: false,
          }
        },

      ],
    })
    const tableCellClassName = (row) => {
      if (row.columnIndex == 4) {
        return 'actionBtns'//给第5个td里面添加tableCellClassName的类名
      }
    }
    const tableRowClassName = ({ row, rowIndex }) => {
      if (row.isGroup) {
        return 'isGroup'
      }
      return ''
    }
    const refData = toRefs(data);
    return {
      ...refData,
      tableCellClassName,
      tableRowClassName
    }

  }
});
</script>
<style scoped lang="scss">
.Agenda {
  .actionBtns {
    .cell {
      display: flex!important;
      line-height: 28px!important;
      .btnsContainer{
        display: flex;
        justify-content: space-between;
        line-height: 25px;
        p {
          cursor: pointer;
          display: flex;
          flex-flow: column;
          width: 85px;
          text-align: center;
          word-break: initial;
          i {
            font-size: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
          span{
            line-height: 18px;
          }
        }
      }
    }
  }
  .icontriangle{
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-left: 10px solid #f58220;
    border-bottom: 5px solid transparent;
  }
}
</style>
<style>
.el-table .isGroup {
  background: rgb(233 235 237);
}
.Agenda .el-table__row--level-1{
  background: rgb(246 247 248)!important;
}
.Agenda .el-icon-arrow-right{
  font-size: 25px!important;
}
</style>
