<!-- content的detail page -->
<template>
  <div class="navContentThird pagePadding">
    {{ data }}
    <h1 class="pageTitle">{{ detailData.name }}</h1>
    <contentDetail style="margin-top: 10px" v-if="showDetail" :data="detailData"></contentDetail>
    <div class="navContentThirdBottom">
      <h1 class="pageSubTitle" v-show="showTitle">RELATED CONTENT</h1>
      <el-row class="imgsContainer" :gutter="20">
        <el-col :span="4" v-for="item in contents" :key="item">
          <imgBox
              style="cursor: pointer"
              :data="item"
              :flexable="true"
              @click="goRelated(item)"
          ></imgBox>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script lang='ts'>
import {
  defineComponent,
  reactive,
  toRefs,
  watch,
  onBeforeMount,
  onMounted,
} from 'vue';
import {onBeforeRouteUpdate, useRoute, useRouter} from 'vue-router';
import contentDetail from '@/components/page/contentDetail.vue';
import imgBox from '@/components/page/imgBox.vue';
import axios from '@/api/http.js';

export default defineComponent({
  name: 'Content',
  components: {
    contentDetail,
    imgBox,
  },
  setup() {
    const route = useRoute();
    const router = useRouter();
    // const name = route.query.name;
    const data = reactive({
      showTitle:false,
      contents: [
        // {
        //   // img: require("../../assets/imgs/hulk.jpg"),
        //   img: require('../../assets/imgs/favorite.jpg'),
        //   id: 1,
        //   name: 'VMWARE TANZU',
        //   description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati, facere iusto eos doloribus, unde ut explicabo cumque facilis ipsam nisi libero consect',
        // },
        // {
        //   img: require('../../assets/imgs/favorite.jpg'),
        //   id: 2,
        //   name: 'VMWARE TANZU',
        //   description:
        //       'Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati, facere iusto eos doloribus, unde ut explicabo cumque facilis ipsam nisi libero consect',
        // },
        // {
        //   img: require('../../assets/imgs/favorite.jpg'),
        //   id: 3,
        //   name: 'VMWARE TANZU',
        //   description:
        //       'Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati, facere iusto eos doloribus, unde ut explicabo cumque facilis ipsam nisi libero consect',
        // },
        // {
        //   img: require('../../assets/imgs/favorite.jpg'),
        //   id: 4,
        //   name: 'VMWARE TANZU',
        //   description:
        //       'Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati, facere iusto eos doloribus, unde ut explicabo cumque facilis ipsam nisi libero consect',
        // },
        // {
        //   img: require('../../assets/imgs/favorite.jpg'),
        //   id: 5,
        //   name: 'VMWARE TANZU',
        //   description:
        //       'Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati, facere iusto eos doloribus, unde ut explicabo cumque facilis ipsam nisi libero consect',
        // },
      ],
      name: route.query.name,
      id: route.query.id,
      showDetail: false,
      detailData: [],//详细信息
    });
    const goRelated = (data) => {
      router.push({
        name: 'Content',
        query: {id: data.id},
      });
    };
    const getData = (id='') => {
      axios.request({
        method: 'PATCH',
        url: '/vmWare/agenda_detail',
        data: {
          meetingId: 'a7yyxczuty0qpjo2393gmyad',
          // meetingId: localStorage.eventsMeetingId,
          agendaId: id||data.id,
        }
      }).then(res => {
        data.showTitle = true;
        data.detailData = res.data.data;
        data.contents = res.data.data.ralate_contents;
        data.contents = data.contents.splice(0,6);//最多显示6个
        data.showDetail = true;
        // data.showDetail =true;
      }).catch(err => {
        console.log(err);
      });
    };
    getData();
    const refData = toRefs(data);
    onBeforeRouteUpdate((to: any) => {
      getData(to.query.id);
    });
    return {
      ...refData,
      goRelated,
    };
  },
});
</script>
<style scoped lang="scss">
.navContentThird {
  .pageTitle {
    margin-bottom: 20px;
  }

  .navContentThirdBottom {
    margin-top: 50px;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-right: 40px;

    .pageSubTitle {
      padding: 10px 0;
    }

    .imgsContainer {
      display: flex;
    }
  }
}
</style>
