<template>
  <div class="contributors pageInit">
    <h1 class="pageTitle">Contributors</h1>
    <div class="searchContainer">
      <searchBox style="margin-right: -90px" :showGo="true" @go="searchPerson" @change="inputChange" ref="sbox"></searchBox>

    </div>
    <div class="contributorsContainer" v-if="showAttendees">
      <contributor :person="item" v-for="item in person" :key="item" class="oneContributor"
                   @clickDetail="clickDetail"></contributor>
    </div>
    <!--contributor detail 弹窗（v-if=false 会销毁组件，否则里面的信息打开第一次后就不刷新了）-->
    <contributorDetail v-model="showDialog" :data="personDetail" v-if="showDialog"></contributorDetail>
  </div>
</template>

<script>
import {
  defineComponent,
  ref,
  reactive,
  toRefs,
  watch,
  onBeforeMount,
  onMounted,
  onBeforeUnmount,
  onActivated
} from "vue";
import searchBox from "@/components/tools/search.vue";
import search from "@/components/tools/search.vue";
import contributor from "@/components/page/contributor.vue";
import contributorDetail from "@/components/page/contributorDetail.vue";
import { ElLoading } from 'element-plus';
import {useStore} from 'vuex';
import axios from '@/api/http.js'

export default defineComponent({
  name: "Contributors",
  components: {
    search,
    searchBox,
    contributor,
    contributorDetail,
    ElLoading
  },
  setup(props, context) {
    const store = useStore();
    const searchInput = ref(null);
    const sbox = ref();
    const data = reactive({
      showAttendees: true,
      person: [
        // {
        //   id: '1',
        //   name: 'Jimmy Chan',
        //   firstName: 'Jimmy',
        //   lastName: 'Chan',
        //   title: 'Manager',
        //   desc: 'Nonummy Nibh',
        //   img: ''
        // },
        // {
        //   id: '2',
        //   name: 'Haocheng Xu',
        //   firstName: 'Haocheng',
        //   lastName: 'Xu',
        //   title: 'developer',
        //   desc: 'Nonummy Nibh',
        //   img: require("@/assets/imgs/ironMan.jpg")
        // },
        // {
        //   id: '3',
        //   name: 'Neo Chan',
        //   firstName: 'Neo',
        //   lastName: 'Chan',
        //   title: 'developer',
        //   desc: 'Nonummy Nibh',
        //   img: ''
        // },
        // {
        //   id: '4',
        //   name: 'Xiang Tan',
        //   firstName: 'Xiang',
        //   lastName: 'Tan',
        //   title: 'developer',
        //   desc: 'Nonummy Nibh',
        //   img: ''
        // },
        // {id: '5', name: 'Sun Cai', firstName: 'Sun', lastName: 'Cai', title: 'developer', desc: 'Nonummy Nibh', img: ''},
      ],
      personCache: [],
      showDialog: false,
      personDetail: {},
    });
    const formatData = (data) => {
      let arr = [];
      data.map(item => {
        let obj = {};
        obj.id = item.id;
        obj.name = item.name;
        obj.firstName = item.firstName;
        obj.lastName = item.lastName;
        obj.title = item.title;
        obj.descc = item.descc;
        obj.image = item.image || item.img;
        obj.bio = item.bio;
        obj.company = item.company;
        obj.email = item.email;
        obj.linkedInURL = item.linkedInURL;
        obj.presenterStatus = item.presenterStatus;
        arr.push(obj);
      })
      console.log("==== arr ===", arr);
      return arr
    }
    const getData = () => {
      axios.request({
        method: 'PATCH',
        url: 'vmWare/attendees',
        data: {
          meetingId: "a7yyxczuty0qpjo2393gmyad",
          // meetingId: localStorage.eventsMeetingId,

        }
      }).then(res => {
        console.log("res:", res.data.data);
        data.person = data.person.concat(formatData(res.data.data));
        data.personCache = JSON.parse(JSON.stringify(data.person));
      })
    }
    const clickDetail = (person) => {
      console.log("====person =====", person)
      data.showDialog = true;
      data.personDetail = person;
      console.log("personDetail:", data.personDetail)
    }
    // 监听搜索框
    const inputChange = (param) => {
      console.log("====param =====", param)
      if (param == "") {
        data.person = JSON.parse(JSON.stringify(data.personCache));//获取回最原始的数据
      }
    }
    const searchPerson = (keyword) => {
      const loading = ElLoading.service({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(255, 255, 255, 0.5)',
      });
      if (keyword == "") {
        loading.close();
        return
      }
      axios.request({
        method: 'PATCH',
        url: 'vmWare/attendees',
        data: {
          meetingId: "a7yyxczuty0qpjo2393gmyad",
          keyword: keyword
        }
      }).then(res => {
        console.log('person:', res.data.data);
        data.person = res.data.data;
        loading.close();
      }).catch(err => {
        console.log(err);
        loading.close();
      })
    }
    watch(() => data.showDialog, (newVal, oldVal) => {
      console.log("newVal", newVal)
      if (newVal == false) {
        data.personDetail = {};
      }
    });
    getData();

    onActivated(() => {
      // console.log("==== ref=====",searchInput.value.input1)
      // searchInput.value.input1 = '';//将查询框的值清空
      data.person = JSON.parse(JSON.stringify(data.personCache));
      sbox.value.input1 = "";
    });
    onBeforeMount(() => {
    });
    onMounted(() => {
    });
    onBeforeUnmount(() => {

    })
    return {
      ...toRefs(data),
      clickDetail,
      store,
      getData,
      formatData,
      searchInput,
      searchPerson,
      inputChange,
      sbox
    };
  },
});
</script>
<style scoped lang='scss'>
.contributors {
  background: #f0f9fe;
  overflow-y: scroll;
  width: 100%;

  .searchContainer {
    display: flex;
    padding: 20px 0 20px 0;
    align-items: baseline;
  }

  .contributorsContainer {
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
    margin-left: -30px;

    .oneContributor {
      margin: 0 0 30px 30px
    }
  }
}
</style>


