<template>
  <div class="notification pageInit">
    <h1 class="pageTitle">Notification</h1>
    <div class="filterContainer">
      <!--<el-select v-model="select" placeholder="">-->
      <!--  <el-option-->
      <!--      v-for="item in options"-->
      <!--      :key="item.value"-->
      <!--      :label="item.label"-->
      <!--      :value="item.value"-->
      <!--  >-->
      <!--  </el-option>-->
      <!--</el-select>-->
      <!--<div class="searchContiner">-->
      <!--  <searchBox style="margin-right: 20px" ></searchBox>-->
      <!--  <button class="el-button el-button&#45;&#45;default x-btn">GO</button>-->
      <!--</div>-->
    </div>
    <div class="lists">
      <div class="list" v-for="(item, index) in lists" :key="'list' + index">
        <div class="listContainer">
          <!--<p class="docIcon">-->
          <!--  <img v-if="item.img" :src="item.img" alt=""/>-->
          <!--  <i v-else class="iconfont icon-pdf" style="font-size: 30px;color:gray"></i>-->
          <!--</p>-->
          <p class="docName">{{ item.name }}</p>
          <!--<p class="viewBtn">-->
          <!--  <button class="el-button el-button&#45;&#45;default x-btn" @click="clickView(item.link)">VIEW</button>-->
          <!--</p>-->
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import {
  defineComponent,
  reactive,
  toRefs,
  onBeforeMount,
  onMounted,
} from "vue";
import searchBox from "@/components/tools/search.vue";
import axios from "@/api/http";

export default defineComponent({
  name: "Notification",
  components: {
    searchBox,
  },
  setup() {
    const data = reactive({
      select: '',
      options: [
        {label: "All Tags", value: 1},
      ],
      lists: [
        // {
        //   img: require("../../assets/imgs/icon.jpg"),
        //   name: "Virtual Vendor show overview",
        //   id: 1,
        // },
        // {
        //   img: require("../../assets/imgs/icon.jpg"),
        //   name: "MC Event Tutoral",
        //   id: 1,
        // },
        // {img: require("../../assets/imgs/icon.jpg"), name: "Lorem", id: 1},
      ],
    });
    const formatData = (data) => {
      let arr = [];
      data.map(item => {
        let obj = {};
        obj.img = item.img;
        obj.name = item.subject;
        obj.id = item.id;
        obj.link = item.link;
        arr.push(obj);
      })
      return arr
    };
    const getData = () => {
      axios.request({
        method: 'PATCH',
        url: '/vmWare/notification',
        data: {
          meetingId: 'a7yyxczuty0qpjo2393gmyad'
          // meetingId: localStorage.eventsMeetingId,
        }
      }).then(res => {
        console.log(res.data.data)
        data.lists = formatData(res.data.data);
      }).catch(err => {
        console.log(err);
      })
    }
    const clickView = (link) => {
      console.log(link)
    }
    getData();
    onBeforeMount(() => {
    });
    onMounted(() => {
    });
    return {
      ...toRefs(data),
      getData,
      clickView
    };
  },
});
</script>
<style scoped lang='scss'>
.notification {
  .filterContainer {
    display: flex;
    align-items: center;
    //justify-content: space-between;
    justify-content: flex-end;
    margin: 20px 0 10px 0;

    .searchContiner {
      display: flex;
      align-items: center;
      margin-right: 15px;
    }
  }

  .lists {
    padding: 20px 0 20px 0;

    .list:nth-child(odd) {
      background: #f2f3f5;
    }

    .list:nth-child(even) {
      background: #fff;
    }

    .list {
      .listContainer {
        display: flex;
        align-items: center;
        padding: 15px;
        min-height: 40px;
        .docIcon {
          width: 200px;
          text-align: center;
        }

        .docName {
          flex: 1;
          font-size: 16px;
        }

        .viewBtn {
          width: auto;
        }
      }
    }
  }
}
</style>
