<template>
  <div class="contents pagePadding">
    <h1 class="pageTitle">{{ name }}</h1>
    <!-- <ul>
    <li v-for="item in contents"
        class="infinite-list-item contentsLi"
        :key="item">
      <div class="inner">
        <img :src="item.img" alt="">

      </div>
    </li>
  </ul> -->

    <div class="infinite-list-wrapper" style="height:100%;overflow:auto">
      <div  style="height: 100%; overflow: auto; display: flex; flex-wrap: wrap">
        <ul
            class="infinite-list contentsUl"
            v-infinite-scroll="load"

        >
          <li
              v-for="item in contents"
              class="infinite-list-item contentsLi"
              :key="item"
              style="width:20%"
          >
            <!--<imgBox-->
            <!--  style="cursor: pointer"-->
            <!--  :data="item"-->
            <!--  :width="350"-->
            <!--  @deleteItem="deleteItem"-->
            <!--  @click="goDetail(item)"-->
            <!--&gt;</imgBox>-->
            <imgBoxFlex
                style="cursor: pointer"
                :data="item"
                :titleOnTop="false"
                @deleteItem="deleteItem"
                @click="goDetail(item)"
            ></imgBoxFlex>
          </li>
        </ul>
        <p v-if="showNoResult" class="loadingTip">No more</p>
        <p v-if="loading&&!showNoResult" class="loadingTip">Loading...</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  toRefs,
  watch,
  onBeforeMount,
  onMounted,
  initCustomFormatter,
} from 'vue';
import imgBox from '@/components/page/imgBox.vue';
import imgBoxFlex from '@/components/page/imgBoxFlex.vue';
import {ElMessageBox} from 'element-plus';
import {ElMessage} from 'element-plus';
import {ElLoading} from 'element-plus';
import {useRoute, useRouter} from 'vue-router';
import axios from '@/api/http.js';

// 定义一个接口，约束imgBox的类型
interface Img {
  img: string;
  id: number;
  title?: string; //问号代表可有可无
  name?: string; //问号代表可有可无
  description?: string; //问号代表可有可无
  // id: string; 如果定义是String类型但是数据是number类型的就会提示出错
}

export default defineComponent({
  name: 'Tracks',
  components: {
    imgBox,
    imgBoxFlex
  },
  setup() {
    //============= data ==============
    const route = useRoute();
    const router = useRouter();
    const id = route.query.id;
    const name = route.query.name;
    const data = reactive<{ contents: Img[] }>({
      contents: [
        // {
        //   img: require('../../assets/imgs/hulk.jpg'),
        //   id: 1,
        //   name: 'VMWARE TANZU',
        //   title: '2021 WMKO Intrinsic Security Solutions',
        //   description:
        //       ' Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi natus dolores aspernatur optio ad modi iure quisquam',
        // },
      ],
    });
    const data2 = reactive({
      index: 0,
      showNoResult:false,
      loading:false,
    });
    // const dataLength = data.contents.length;
    //============= method ==============
    // 无限滚动
    const load = () => {
      if(data2.showNoResult){
        data2.loading = false;
        return
      }else{
        data2.loading = true;
        data2.index = data2.index + 1
        getData(data2.index);
      }
    };
    const goDetail = (data) => {
      router.push({
        name: 'Content',
        query: {id: data.id},
      });
    };
    const deleteItem = (id) => {
      // console.log("id:", id);
      ElMessageBox.confirm(
          'Are you sure you want to delete?  This canNot be undone.',
          'Confirmation',
          {
            confirmButtonText: 'Yes',
            cancelButtonText: 'Cancle',
            type: 'warning',
          }
      )
          .then(() => {
            ElMessage({
              type: 'success',
              message: 'successfully deleted' + ' img ' + id,
            });
          })
          .catch(() => {
            ElMessage({
              type: 'info',
              message: 'Undeleted',
            });
          });
    };
    // const formatData = (data) => {
    //   let arr = [];
    //   data.map(item => {
    //     let obj = {};
    //     obj['description'] = data.description;
    //     obj['title'] = data.title;
    //     obj['id'] = data.id;
    //     obj['img'] = data.img;
    //     obj['name'] = data.name;
    //     arr.push(obj);
    //   });
    //   return arr;
    // };
    const getData = (index = 0, pageSize = 10) => {
      axios.request({
        method: 'PATCH',
        url: '/vmWare/agendas',
        data: {
          meetingId: 'a7yyxczuty0qpjo2393gmyad',
          // meetingId: localStorage.eventsMeetingId,
          trackId: route.query.id,
          index: index,
          pageSize: pageSize
        }
      }).then(res => {
        if(res.data.result==200){
          data.contents = data.contents.concat(res.data.data);
          console.log("====contents =====",data.contents)
        }
        if(res.data.result==500){
          data2.showNoResult = true;

          // setTimeout(()=>{
          //   data2.showNoResult = true;
          // },1000)
        }
        data2.loading = false;
      }).catch(err => {
        console.log(err);
      });
    };
    getData();
    onBeforeMount(() => {
    });
    onMounted(() => {
    });
    return {
      ...toRefs(data),
      ...toRefs(data2),
      deleteItem,
      load,
      goDetail,
      id,
      name,
      getData,
      // formatData,
    };
  },
});
</script>
<style scoped lang='scss'>
.contents {
  .contentsUl {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 30px;
  }

  .contentsLi {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .noMore{
    text-align: center;
    font-size: 20px;
  }
  .loadingTip{
    margin: auto;
    font-size: 15px;
  }
}
</style>
//
<style scoped lang="scss">
// ul {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   border: 1px solid #aaa;
// }
// li {
//   width: calc(92% / 4);
//   padding-bottom: calc(92% / 6);
//   background-color: #ccc;
//   box-sizing: border-box;
//   position: relative;
//   margin: 1%;
// }
//
</style>
