<template>
  <div class="searchAgenda pageInit">
    <h1 class="pageTitle">SESSION SEARCH RESULTS for "{{ route.query.keyword }}" ({{ searchList.length }} Results)</h1>
    <ul class="contentsUl">
      <li class="contentsLi" v-for="item in searchList" style="width:20%">
        <imgBoxFlex
            style="cursor: pointer"
            :data="item"
            :titleOnTop="false"
            @click="goDetail(item)"
        ></imgBoxFlex>
      </li>
    </ul>
  </div>
</template>

<script lang='ts'>
import {defineComponent, reactive, toRefs, watch, onBeforeMount, onMounted} from 'vue'
import axios from '@/api/http.js';
import {useRoute, useRouter, onBeforeRouteUpdate} from 'vue-router';
import imgBoxFlex from "@/components/page/imgBoxFlex.vue";
import { ElLoading } from 'element-plus';


export default defineComponent({
  name: 'searchAgenda',
  components: {
    imgBoxFlex,
    ElLoading
  },
  setup() {
    // watch(() =>route, (val, old) => {
    //   console.log(val, old)
    // })
    onBeforeRouteUpdate((to) => {
      console.log(to, "=====");
      if (to.query.keyword == '') {
        data.searchList = [];
        return
      }
      getData(to.query.keyword);
    });
    const data = reactive({
      searchList: [],
    })
    const route = useRoute();
    const router = useRouter();
    const keyword = route.query.keyword;
    const getData = (k = keyword) => {
      // const loading = ElLoading.service({
      //   lock: true,
      //   text: 'Loading',
      //   spinner: 'el-icon-loading',
      //   background: 'rgba(255, 255, 255, 0.5)',
      // });
      if (k == '') {
        // loading.close();
        return
      }
      axios.request({
        method: 'PATCH',
        url: 'vmWare/agendas',
        data: {
          meetingId: "a7yyxczuty0qpjo2393gmyad",
          keyword: k
        }
      }).then(res => {
        // loading.close();
        data.searchList = res.data.data;
      }).catch(err => {
        // loading.close();
        console.log(err);
      })
    }
    getData();
    const goDetail = (data) => {
      router.push({
        name: 'Content',
        query: {id: data.id},
      });
    };
    const refData = toRefs(data);
    return {
      ...refData,
      getData,
      route,
      router,
      keyword,
      goDetail,
    }

  }
});
</script>
<style scoped lang="scss">
.searchAgenda {
  .contentsUl {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 30px;
  }

  .contentsLi {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
</style>
