html {
    color: #000;
    background: #FFF;
}

body {
    font-size: 12px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
    font: inherit;
}

del, ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
    font-weight: normal;
}


q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: baseline;
}

sub {
    vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
    color: #000;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.x-input .el-input__inner {
    border: none;
    border-bottom: 1px solid black;
    border-radius: unset;
    font-size: 18px;
    text-align: center;
}

.page {
    height: 100vh;
    min-width: 1280px;
    min-height: 780px;
}

.noPadding .el-dialog__header {
    padding: 0 !important;
}

.noPadding .el-dialog__body {
    padding: 20px !important;
}


