// .search{
//     .el-input__inner{
//         border:2px solid #74c6f0;
//         border-radius:50px;
//         height:30px;
//         line-height: 30px;
//     }
// }

// 图标移入颜色
.iconhover {
  &:hover {
    color: #1d4290 !important;

    i {
      color: #1d4290 !important;
    }

    span {
      color: #1d4290 !important;
    }
  }
}
// 默认背景颜色
.mainBackground {
  background: #1c418a;
}
//字体颜色
.textColor {
  color: #1d4290;
}
//次级字体颜色
.textColorSub {
  //color: #86d827;
  color: #1c418a;
}

// 默认按钮样式
.x-btn {
  color: #fff;
  min-width: 150px;
  //background-color: #76bf22;
  //border: #76bf22;
  background-color: #1c418a;
  border: #1c418a;
  border-radius: 0%;
  min-height: 30px;
  padding: 10px;
}

.x-btn:hover {
  color: #fff;
  //background-color: #86d827;
  background-color: #1c418a;
}

.x-btn:focus {
  color: #fff;
  //background-color: #86d827;
  background-color: #1c418a;
}
.x-btn2 {
  color: #fff;
  background-color: #1c418a;
  border: #1c418a;
  border-radius: 0%;
}

// 一级标题
.pageTitle {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}
// 二级标题
.pageSubTitle {
  font-size: 20px;
  color: #1d4290;
  font-weight: bold;
}

// 右侧主页面默认样式
.pageInit {
  padding: 20px 0 0 50px;
  overflow-y: scroll;
}

.pagePadding {
  padding: 20px 0 0 50px;
}
.dialogTitle{
  font-size: 20px;
}
