<template>
  HPE
  <div class="index">
    <div class="indexTop">
      <!--轮播图 -->
      <el-carousel :autoplay="true" :interval="5000">
        <el-carousel-item v-for="item in carouselData" :key="item">
          <div
              :style="{ backgroundImage: `url(${item.bg_image})` }"
              class="carouselContent"
          >
            <!-- 标题和描述 -->
            <div class="topText">
              <p class="carouselDataFirstTitle">{{ item.title }}</p>
              <p class="carouselDataSubTitle">{{ item.sub_title }}</p>
              <p class="carouselDataDes">
                <el-row>
                  <el-col :span="8">
                    {{ item.description }}
                  </el-col>
                </el-row>
              </p>
              <!-- 按钮 -->
              <el-button class="x-btn" style="margin-top:20px" @click="clickCarouselBtn(item.button_link)">
                {{ item.button_content }}
              </el-button>
            </div>
            <!-- 轮播图里面的图片 -->
            <div class="bottomImgContainer">
              <el-row :gutter="100">
                <el-col :span="8" v-for="jtem in item.sub_banner" :key="jtem">
                  <img @click="clickCarouselImg" :src="jtem.image" alt=""/>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-carousel-item>
      </el-carousel>
    </div>
    <!-- Content的图片 -->
    <div class="indexBottom">
      <p class="title">{{bottomImgData.secondary_title}}</p>
      <!--<p class="title">MOST POPULAR CONTENT</p>-->
      <div class="indexBottomImgs">
        <el-row :gutter="30">
          <el-col
              :span="6"
              v-for="item in bottomImgData.data"
              :key="item"
          >
            <img :src="item.image" @click="clickPopular(item)" alt=""/>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent, reactive, toRefs, onBeforeMount, onMounted, getCurrentInstance} from "vue";
import {useRouter} from 'vue-router';
import axios from '@/api/http.js'

export default defineComponent({
  name: "Home",
  setup(props, ctx) {
    const router = useRouter();
    // const {proxy} = getCurrentInstance();
    const data = reactive({
      ttt: '',
      // testImg:'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
      carouselData: [
        {}//很重要，必须要有这么一个空的对象，不然页面刚加载是空白的，要等定时器走完第一个时间才显示
        // {
        //   img: require("../../assets/imgs/carousel1.jpeg"),
        //   firstTitle: "Content Hightlight",
        //   subTitle: "VMwaretanzu",
        //   description:
        //       "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam molestias dicta, quaerat nulla minus eos. Exercitationem eius provident consequuntur ea voluptatum. Similique cum ex reprehenderit. Omnis iusto voluptatem eligendi ea.",
        //   subImg: [
        //     {img: require("../../assets/imgs/carouselBottom.jpg")},
        //     {img: require("../../assets/imgs/carouselBottom.jpg")},
        //     {img: require("../../assets/imgs/carouselBottom.jpg")},
        //   ],
        // },
      ],
      bottomImgData: {},
      previewImg: require("@/assets/imgs/test.jpg"),
    });
    // 方法===============================
    const clickCarouselImg = () => {
      console.log(123);
    };
    const formatData = (data) => {
      let arr = [];
      data.map(item => {
        let obj = {};
        obj.bg_image = item.bg_image;
        obj.button_content = item.button_lable;
        obj.button_link = item.button_target;
        obj.description = item.description;
        obj.sub_title = item.sub_title;
        obj.title = item.title;
        obj.sub_banner = item.sub_banner;
        arr.push(obj);
      })
      return arr
    }
    const getData = () => {
      axios.request({
        method: 'PATCH',
        url: '/vmWare/home',
        data: {
          meetingId: "a7yyxczuty0qpjo2393gmyad",
          // meetingId: localStorage.eventsMeetingId,
          operationType: "home",
        }
      }).then(res => {
        console.log("secondary:", res.data.data[0].secondary);
        data.carouselData = formatData(res.data.data[0].banner);
        data.bottomImgData = res.data.data[0].secondary;
        console.log("data.bottomImgData:", data.bottomImgData)
      })
    }
    const clickCarouselBtn = (link) => {
      console.log("link:", link)
    }
    const clickPopular = (data) => {
      console.log("data:", data)
      if(data.action_target=='inner'){
        router.push({
          name: 'Content',
          query: {id: data.action_url},
        });
      }
    }
    onBeforeMount(() => {
    });
    onMounted(() => {
      getData();
    });
    return {
      ...toRefs(data),
      clickCarouselImg,
      getData,
      formatData,
      clickCarouselBtn,
      clickPopular
    };
  },
});
</script>
<style scoped lang='scss'>
.el-image {
  display: block;
  min-height: 200px;
  margin-bottom: 10px;
}

.index {
  display: flex;
  flex-flow: column;

  .indexTop {
    height: 70%;
    overflow: hidden;
    // min-height: 500px;
    .carouselContent {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 0 30px;
      display: flex;
      flex-flow: column;
      justify-content: space-around;

      .carouselDataFirstTitle {
        font-size: 30px;
        color: #fff;
        font-weight: bold;
      }

      .carouselDataSubTitle {
        font-size: 25px;
        color: #1d4290;
        font-weight: bold;
        padding: 20px 0 10px 0;
      }

      .carouselDataDes {
        font-size: 15px;
        color: #fff;
      }
    }

    .bottomImgContainer {
      img {
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
    }
  }

  .indexBottom {
    height:30%;
    overflow: hidden;
    display: flex;
    //flex: 1;
    //flex-flow: column;
    font-size: 20px;
    font-weight: bold;
    color: #1d4290;
    padding: 20px;

    .title {
      margin-bottom: 10px;
    }

    .indexBottomImgs {
      height: 100%;
      display: flex;
      align-items: center;
      div{
        height:100%;
      }
      img {
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
</style>
<style lang="scss">
.index {
  .el-carousel {
    height: 100%;

    .el-carousel__container {
      height: 100%;
    }
  }
}
</style>
