<template>
  <div class="Home">
    <!-- 顶部导航 -->
    <topBar></topBar>
    <div class="middle">
      <!-- 左侧导航 -->
      <navBar></navBar>
      <!-- 右侧主页面 -->
      <!--<router-view style="flex:1"></router-view>-->
      <router-view v-slot="{ Component }" style="flex:1" @click="clickRight">
        <!-- 缓存页面 -->
        <keep-alive include="Home,Contributors,AllContents,Notification">
          <component :is="Component" />
        </keep-alive>
      </router-view>
      <!--<router-view style="flex:1" @click="clickRight"></router-view>-->
    </div>
    <!-- 底部导航 -->
    <footBar></footBar>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, computed, watch } from "vue";
import topBar from "@/components/nav/topBar.vue";
import navBar from "@/components/nav/navBar.vue";
import footBar from "@/components/nav/footBar.vue";
import {useStore} from 'vuex';

export default defineComponent({
  name: "index",
  components: {
    topBar,
    navBar,
    footBar
  },
  setup() {
    // window.addEventListener("click",(e)=>{
    //   console.log(e.target)
    //   // store.commit("setnavBarSlideOut",false);
    // })
    const store = useStore();
    const clickRight = (e)=>{
      store.commit("setnavBarSlideOut",false);
      store.commit("setSearchSlideOut",false);
    }
    return {
      store,
      clickRight
    };
  },
});
</script>

<style lang="scss" scope>
.Home {
  height: 100vh;
  display: flex;
  flex-flow: column;
  .middle {
    display: flex;
    flex:1;
    min-height:700px;
    min-width:1280px;
  }
}
</style>
