<template>
  <div class="Login" style="background: url('https://cx-app-vmware.uc.r.appspot.com/files/login.jpg');background-size: cover;">
    <!--<h1>Login Page</h1>-->
    <!--<el-button type="primary" @click="login">Login</el-button>-->
    <p class="loginTitle textColor">CONSECTETUER ADIPISCING ELIT,SED DIAM NONUMMY NIBH</p>
    <div class="loginBox">
      <div class="loginBoxLeft">
        <p class="loginBoxLeftTitle textColor" v-show="showUserName">PLEASE ENTER YOUR EMAIL ADDRESS</p>
        <p class="loginBoxLeftTitle textColor" v-show="!showUserName">PLEASE ENTER YOUR PASSWORD</p>
        <el-input class="x-input"  v-if="showUserName" v-model="userName" placeholder="Username"></el-input>
        <el-input class="x-input"  v-if="!showUserName" v-model="userPwd" show-password="false" placeholder="Password"></el-input>
        <p class="tip" v-show="showTip">{{tip}}</p>
        <el-button class="x-btn nextBtn" v-if="showUserName" @click="next">NEXT</el-button>
        <el-button class="x-btn nextBtn" v-if="!showUserName" @click="login">Login</el-button>
        <div class="checkboxContiner" v-show="showCheckBox">
          <el-checkbox class="checkbox" v-model="checkboxVal" @change=" showTip = false"></el-checkbox>
          <span>By logging in, I accept the <a href="#">Privacy Policy and Terms of Use</a></span>
        </div>
        <p class="supportLink textColor">Contact Support</p>
      </div>
      <div class="loginBoxRight">
        <p class="loginBoxRightTitle textColor">LOREM IPSUM DOLOR SIT AMET</p>
        <!--css限制了最多显示9行-->
        <p class="loginBoxRightDesc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aspernatur at aut blanditiis
          consequatur delectus deserunt dolore earum facere hic, ipsum minima neque perferendis possimus similique
          veritatis. Sunt, suscipit!<br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut, beatae debitis dolore dolorem dolorum earum
          eius explicabo facere fugit hic impedit laborum minima molestiae mollitia placeat repellat veritatis voluptas?<br>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref, reactive, toRefs,computed, onMounted} from 'vue';
import {useRouter} from 'vue-router';
import {ElMessage, ElMessageBox} from 'element-plus';
import { ElLoading } from 'element-plus';
import axios from '@/api/http.js';

export default defineComponent({
  name: 'Login',

  setup() {
    const route = useRouter(); // 第一步
    const data = reactive({
      userName: '',
      userPwd: '',
      showUserName: true,
      checkboxVal: false,
      showTip:false,//勾选提示
      tip:''
    });
    const showCheckBox = computed(() => {
      return data.showUserName;
    });
    const next = () => {
      if (data.userName == '') {
        data.tip = 'Sorry, you\'re not currently registered for this event. Please click the register here hyperlinked text to the left to register.';
        data.showTip = true
        // ElMessageBox.confirm(
        //     'Please input your Username',
        //     {
        //       confirmButtonText: 'Yes',
        //       // cancelButtonText: "Cancle",
        //       type: 'warning',
        //     }
        // );
      } else {
        if (data.checkboxVal) {
          const loading = ElLoading.service({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(255, 255, 255, 0.5)',
          });
          axios.request({
            method: 'POST',
            url: 'm/check-email/',
            data: {
              email: data.userName
            }
          }).then(res => {
            console.log('res:', res);
            console.log('res.data.result:', res.data.result);
            if (res.data.result == 'succeeded') {
              data.showUserName = false;
              data.showTip = false
            }
            loading.close();
          }).catch(err => {
            loading.close();
            data.tip = err.response.data.error;
            data.showTip = true
            // ElMessageBox.confirm(
            //     err.response.data.error,
            //     {
            //       confirmButtonText: 'Yes',
            //       // cancelButtonText: "Cancle",
            //       type: 'warning',
            //     }
            // );
          });
        } else {
          data.tip = "You must accept the Terms of Use to proceed";
          data.showTip = true
          // ElMessageBox.confirm(
          //     'You must accept the Terms of Use to proceed.',
          //     'Confirmation',
          //     {
          //       confirmButtonText: 'Yes',
          //       // cancelButtonText: "Cancle",
          //       type: 'warning',
          //     }
          // );
        }
      }
    };
    const login = () => {
      if (data.userName == '') {
        data.tip = 'Please input your password';
        data.showTip = true
        // ElMessageBox.confirm(
        //     'Please input your password',
        //     {
        //       confirmButtonText: 'Yes',
        //       // cancelButtonText: "Cancle",
        //       type: 'warning',
        //     }
        // );
      }else{
        const loading = ElLoading.service({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(255, 255, 255, 0.6)',
        });
        axios.request({
          method: 'POST',
          url: '/m/authenticate/',
          data: {
            username: data.userName,
            password: data.userPwd,
          }
        }).then(res => {
          loading.close();
          if (res.data.result == 'succeeded') {
            localStorage.webToken = res.data.token;
            let campusInfo = res.data;
            localStorage.campusInfo = JSON.stringify(res.data);
            // route.push({name: 'Mec'});
            route.push({name: 'Home'});
          }else{
            console.log("==== result=====",res.data.error)
            data.tip = res.data.error;
            data.showTip = true
            // ElMessageBox.confirm(
            //     res.data.error,
            //     {
            //       confirmButtonText: 'Yes',
            //       // cancelButtonText: "Cancle",
            //       type: 'warning',
            //     }
            // );
          }
        }).catch(err => {
          console.log(err);
          loading.close();
          data.tip = err.response.data.error;
          data.showTip = true;
          // ElMessageBox.confirm(
          //     err.response.data.error,
          //     {
          //       confirmButtonText: 'Yes',
          //       // cancelButtonText: "Cancle",
          //       type: 'warning',
          //     }
          // );
        })
      }
    };
    const fun = ()=>{
      console.log("==== =111====",)
    }
    onMounted(() => {
      window.addEventListener("keydown",(e)=>{
        if(e.keyCode===13){
          if(data.showUserName){
            next();
          }else{
            login();
          }
        }
      })
    });
    return {
      fun,
      ...toRefs(data),
      showCheckBox,
      next,
      login,
    };
  },
});
</script>

<style lang="scss" scope>
.Login {
  height: 100vh;
  overflow: hidden;
  min-height: 700px;
  min-width: 1280px;
  background: #00b9d6;
  //background: black;
  padding-top: 150px;
  box-sizing: border-box;
  background-size: cover;
  .loginTitle {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
  }

  .loginBox {
    display: flex;
    width: 1000px;
    min-height: 300px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    //background: rgb(255,255,255);
    background: rgba(255, 255, 255, 0.9);

    .loginBoxLeft {
      .tip{
        font-size: 15px;
        font-weight: bold;
        margin-top: 15px;
      }
      .x-input .el-input__inner {
        background: rgba(255, 255, 255, 0);
      }

      width: 50%;
      text-align: center;

      .loginBoxLeftTitle {
        font-size: 20px;
        font-weight: bold;
        margin: 35px 0 15px 0;
      }

      .nextBtn {
        margin: 20px 0 15px 0;
      }

      .checkboxContiner {
        .checkbox {
          margin-right: 20px;
        }

        span {
          font-size: 14px;
        }
      }

      .supportLink {
        margin: 20px 0 0 0;
        cursor: pointer;
      }
    }

    .loginBoxRight {
      text-align: center;
      width: 50%;
      padding-left: 50px;

      .loginBoxRightTitle {
        text-align: left;
        font-size: 25px;
        font-weight: bold;
      }

      .loginBoxRightDesc {
        margin-top: 20px;
        font-size: 14px;
        color: gray;
        text-align: left;
        line-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
      }
    }
  }
}
</style>
