<template>
  <div class="mec page">
    <div class="topHeader">
      <div class="topHeaderLeft">
        <!--<img src="@/assets/logo.png" style="height:100%" alt="">-->
        <span style="font-size: 30px;font-weight: bold">VMWARE</span>
      </div>
      <div class="topHeaderRight">
        <avator
            :data="user"
            style="cursor: pointer;"
        ></avator>
        <el-select
            v-model="select"
            placeholder=""
            style="width: 125px;position:absolute;top: 0;left: 0;opacity: 0"
        >
          <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              @click="clickOption(item)"
          >
          </el-option>
        </el-select>
      </div>
    </div>
    <div class="mecContainer">
      <!--日期和搜索框-->
      <div class="mecSearch">
        <span class="date textColor">AUGUST 23</span>
        <!--先屏蔽掉-->
        <!--<searchBox></searchBox>-->
      </div>
      <!--EVENTS 数量统计-->
      <div class="eventsCount">
        <p>
          <span class="text textColor">TOTAL EVENTS</span>
          <span class="number">{{ allEventTotal }}</span>
        </p>
        <p>
          <span class="text textColor">CURRENT EVENTS</span>
          <span class="number">{{ currentEventTotal }}</span>
        </p>
        <p>
          <span class="text textColor">UPCOMING EVENTS</span>
          <span class="number">{{ upcomingEventTotal }}</span>
        </p>
        <p>
          <span class="text textColor">PAST EVENTS</span>
          <span class="number">{{ pastEventTotal }}</span>
        </p>
      </div>
      <!--EVENTS-->
      <div class="events">
        <div class="event" v-for="item in events">
          <p class="titleContainer">
            <span class="title textColor">{{ item.name }}</span>
            <span class="count textColorSub">{{ item.count }}</span>
          </p>
          <div class="eventContainer" v-for="venues in item.data">
            <div class="venues" style="display:flex;">
              <img :src="venues.img" alt="">
              <div class="eventInfo">
                <p class="title">
                  {{ venues.name }}
                  <i class="iconfont icon-youjiantou textColorSub" :class="{more:venues.showMore}"
                     @click="clickArrow(venues)"></i>
                </p>
                <p class="desc">{{ venues.desc }}</p>
                <!--<p class="tip textColorSub" @click="clickArrow(venues)">Click on arrow to expand list</p>-->
                <p class="tip textColorSub">Click on arrow to expand list</p>
              </div>
            </div>

            <div class="meetingsContainer subEvent" @click="goEvent(jtem)" v-show="venues.showMore"
                 v-for="jtem in venues.data">
              <img src="../assets/imgs/event.png" alt="">
              <div class="eventInfo">
                <p class="title">{{ jtem.name }}</p>
                <p class="desc">{{ jtem.sub1 }}</p>
                <p class="desc">{{ jtem.sub2 }}</p>
              </div>
            </div>
          </div>
          <!--<div class="eventContainer subEvent" @click="goEvent" v-show="venues.showMore"-->
          <!--     v-for="jtem in venues.data">-->
          <!--  <img src="../assets/imgs/event.png" alt="">-->
          <!--  <div class="eventInfo">-->
          <!--    <p class="title">{{ jtem.name }}</p>-->
          <!--    <p class="desc">{{ jtem.date }}</p>-->
          <!--  </div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import {defineComponent, reactive, toRefs, onBeforeMount, onMounted} from 'vue';
import avator from '@/components/tools/avator.vue';
import {useRouter} from 'vue-router';
import searchBox from '@/components/tools/search.vue';
import axios from '@/api/http.js';

export default defineComponent({
  name: 'Mec',
  components: {
    avator,
    searchBox
  },
  setup() {
    const route = useRouter();
    const data = reactive({
      user: JSON.parse(localStorage.getItem('campusInfo')),
      allEventTotal: 0,
      currentEventTotal: 0,
      upcomingEventTotal: 0,
      pastEventTotal: 0,
      select: '',
      options: [
        {label: 'Edit My Profile', value: '1'},
        {label: 'My Events', value: '2'},
        {label: 'Log Out', value: '3'},
      ],
      events: [
        // {
        //   name: 'CURRENT EVENTS',
        //   count: 0,
        //   data: [
        //     {
        //       img: require('../assets/imgs/event.png'),
        //       name: 'Vmware Local Events',
        //       desc: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        //       data: [
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Marketing Concierge-Virtual Platform',
        //           date: 'Saturday,July 31,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem ipsum',
        //           date: 'Sunday,August 1,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem',
        //           date: 'Monday,August 2,2021',
        //         },
        //       ]
        //     },
        //     {
        //       img: require('../assets/imgs/event.png'),
        //       name: 'Vmware Local Events',
        //       desc: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        //       data: [
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Marketing Concierge-Virtual Platform',
        //           date: 'Saturday,July 31,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem ipsum',
        //           date: 'Sunday,August 1,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem',
        //           date: 'Monday,August 2,2021',
        //         },
        //       ]
        //     },
        //   ]
        // },
        // {
        //   name: 'UPCOMING EVENTS',
        //   count: 0,
        //   data: [
        //     {
        //       img: require('../assets/imgs/event.png'),
        //       name: 'Vmware Local Events',
        //       desc: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        //       data: [
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Marketing Concierge-Virtual Platform',
        //           date: 'Saturday,July 31,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem ipsum',
        //           date: 'Sunday,August 1,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem',
        //           date: 'Monday,August 2,2021',
        //         },
        //       ]
        //     },
        //     {
        //       img: require('../assets/imgs/event.png'),
        //       name: 'Vmware Local Events',
        //       desc: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        //       data: [
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Marketing Concierge-Virtual Platform',
        //           date: 'Saturday,July 31,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem ipsum',
        //           date: 'Sunday,August 1,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem',
        //           date: 'Monday,August 2,2021',
        //         },
        //       ]
        //     },
        //   ]
        // },
        // {
        //   name: 'PAST EVENTS',
        //   count: 0,
        //   data: [
        //     {
        //       img: require('../assets/imgs/event.png'),
        //       name: 'Vmware Local Events',
        //       desc: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        //       data: [
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Marketing Concierge-Virtual Platform',
        //           date: 'Saturday,July 31,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem ipsum',
        //           date: 'Sunday,August 1,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem',
        //           date: 'Monday,August 2,2021',
        //         },
        //       ]
        //     },
        //     {
        //       img: require('../assets/imgs/event.png'),
        //       name: 'Vmware Local Events',
        //       desc: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        //       data: [
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Marketing Concierge-Virtual Platform',
        //           date: 'Saturday,July 31,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem ipsum',
        //           date: 'Sunday,August 1,2021',
        //         },
        //         {
        //           img: require('../assets/imgs/event.png'),
        //           name: 'Lorem',
        //           date: 'Monday,August 2,2021',
        //         },
        //       ]
        //     },
        //   ]
        // },
      ],
    });
    const clickOption = (data) => {
      console.log('data:', data);
      if (data.value == '2') {
        route.push({name: 'Mec'});
      } else if (data.value == '3') {
        route.push({name: 'Login'});
      }
    };
    const clickArrow = (data) => {
      console.log("data:", data);
      data.showMore = !data.showMore;
    };
    const goEvent = (data) => {
      localStorage.eventsMeetingId = data.id;
      route.push({name: 'Home'})
    };
    // 获取mec
    const getMec = () => {
      axios.request({
        method: 'patch',
        url: 'vmWare/mec',
        data: {}
      }).then(res => {
        // console.log('res:', res);
        formatMec(res.data);
      }).catch(err => {
        console.log(err);
      })
    }
    getMec();
    // 格式化mec的数据
    const formatMec = (mec) => {
      console.log("====Mec =====", mec)
      data.allEventTotal = mec.total_events;
      data.currentEventTotal = mec.current_events;
      data.upcomingEventTotal = mec.upcoming_events;
      data.pastEventTotal = mec.past_events;
      //current
      let objCurrent = {};
      objCurrent["name"] = 'CURRENT EVENTS';
      objCurrent["count"] = data.currentEventTotal;
      objCurrent["data"] = [];
      mec.current_venues.map(venues => {
        let obj = {};
        obj["img"] = venues.image;
        obj["name"] = venues.name;
        obj["desc"] = venues.description;
        obj["data"] = [];
        venues.meetings.map(meeting=>{
          let obj2 = {};
          obj2["img"] = meeting.image;
          obj2["name"] = meeting.name;
          obj2["sub1"] = meeting.sub1;
          obj2["sub2"] = meeting.sub2;
          obj2["id"] = meeting.id;
          obj["data"].push(obj2);
        })
        objCurrent["data"].push(obj);
      })
      data.events.push(objCurrent);
      // upcoming
      let objUpcoming = {};
      objUpcoming["name"] = 'UPCOMING EVENTS';
      objUpcoming["count"] = data.upcomingEventTotal;
      objUpcoming["data"] = [];
      mec.upcoming_venues.map(venues => {
        let obj = {};
        obj["img"] = venues.image;
        obj["name"] = venues.name;
        obj["desc"] = venues.description;
        obj["data"] = [];
        venues.meetings.map(meeting=>{
          let obj2 = {};
          obj2["img"] = meeting.image;
          obj2["name"] = meeting.name;
          obj2["sub1"] = meeting.sub1;
          obj2["sub2"] = meeting.sub2;
          obj2["id"] = meeting.id;
          obj["data"].push(obj2);
        })
        objUpcoming["data"].push(obj);
      })
      data.events.push(objUpcoming);
      // past
      let objPast = {};
      objPast["name"] = 'PAST EVENTS';
      objPast["count"] = data.pastEventTotal;
      objPast["data"] = [];
      mec.past_venues.map(venues => {
        let obj = {};
        obj["img"] = venues.image;
        obj["name"] = venues.name;
        obj["desc"] = venues.description;
        obj["data"] = [];
        venues.meetings.map(meeting=>{
          let obj2 = {};
          obj2["img"] = meeting.image;
          obj2["name"] = meeting.name;
          obj2["sub1"] = meeting.sub1;
          obj2["sub2"] = meeting.sub2;
          obj2["id"] = meeting.id;
          obj["data"].push(obj2);
        })
        objPast["data"].push(obj);
      })
      data.events.push(objPast);
      console.log("==== events=====", data.events)
    };
    // onBeforeMount(() => {
    //   console.log('2.组件挂载页面之前执行----onBeforeMount');
    //   data.events.map(item=>{
    //     item.data.showMore = false;
    //   })
    //   console.log("data.events:",data.events);
    // });
    onMounted(() => {
    });
    return {
      ...toRefs(data),
      clickOption,
      clickArrow,
      goEvent,
      getMec,
      formatMec
    };

  }
});
</script>
<style lang="scss" scoped>
.mec {
  display: flex;
  flex-flow: column;

  .topHeader {
    height: 70px;
    display: flex;
    padding: 10px 80px 10px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    //align-items: center;
    .topHeaderLeft {
      display: flex;
      align-items: center;
    }

    .topHeaderRight {
      position: relative;
    }
  }

  .mecContainer {
    //background: #eeeeee;
    padding: 20px;
    flex: 1;

    .mecSearch {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 100px;

      .date {
        font-size: 32px;
        font-weight: bold;
      }
    }

    .eventsCount {
      display: flex;
      font-size: 15px;
      padding: 25px 0;

      .text {
        margin-right: 50px;
      }

      .number {
        color: orange;
      }

      p:not(:first-child) {
        margin-left: 200px;
      }
    }

    .events {
      .event {
        margin-bottom: 80px;

        .titleContainer {
          margin-bottom: 20px;

          .title {
            font-size: 32px;
            font-weight: bold;
            margin-right: 20px;
          }

          .count {
            font-size: 32px;
            font-weight: bold;
          }
        }

        .eventContainer {
          display: flex;
          flex-flow: column;
          margin-bottom: 100px;

          &.subEvent {
            cursor: pointer;
            margin-top: 20px;

            img {
              height: 110px;
              width: 160px;
              object-fit: cover;
            }
          }

          img {
            height: 230px;
            width: 160px;
            object-fit: cover;
          }

          .eventInfo {
            padding-left: 20px;

            .title {
              font-size: 20px;
              margin-bottom: 10px;

              .iconfont {
                font-size: 25px;
                cursor: pointer;

                &.more {
                  display: inline-block;
                  transform: rotate(90deg);
                }
              }
            }

            .desc {
              font-size: 17px;
              margin-bottom: 10px;
            }

            .tip {
              font-size: 15px;
            }
          }
        }

        .meetingsContainer {
          &.subEvent {
            display: flex;
            cursor: pointer;
            margin-top: 20px;

            img {
              height: 110px;
              width: 160px;
              object-fit: cover;
            }
          }

          img {
            height: 230px;
            width: 160px;
            object-fit: cover;
          }

          .eventInfo {
            padding-left: 20px;

            .title {
              font-size: 20px;
              margin-bottom: 10px;

              .iconfont {
                font-size: 25px;
                cursor: pointer;

                &.more {
                  display: inline-block;
                  transform: rotate(90deg);
                }
              }
            }

            .desc {
              font-size: 17px;
              margin-bottom: 10px;
            }

            .tip {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
</style>
