<template>
  <div class="search">
    <el-input
        placeholder="Search..."
        suffix-icon="el-icon-search"
        :style="{ width: width + 'px' }"
        v-model="input1"
        @focus="searchFocus"
        @input="inputChange"
    >
    </el-input>
    <el-button class="x-btn" style="margin-left: 10px" v-show="showSearchBox&&store.state.searchBox.searchSlideOut" @click="go">Go</el-button>
    <el-button class="x-btn" style="margin-left: 10px" v-show="showGo" @click="goSearch">Go</el-button>
    <div class="searchBottomBox" v-show="showSearchBox&&store.state.searchBox.searchSlideOut">
      <div class="slide">
        <swiper
            :slides-per-view="5"
            :observer="swiper_options.observer"
            :observeParents="swiper_options.observeParents"
            :navigation="swiper_options.navigation"
        >
          <swiper-slide v-for="item in searchListSlide" :class="{'x-btn2':item.checked}" @click="clickSlideItem(item)">
            {{ item.label }}
          </swiper-slide>
        </swiper>
      </div>
      <div class="table">
        <p v-for="item in searchList" @click="item.checked = !item.checked">
          <el-checkbox class="checkbox" v-model="item.checked" @click="clickCheckbox($event)">></el-checkbox>
          <span class="text">{{ item.label }}</span>
        </p>
      </div>
    </div>
  </div>
</template>


<script>
import {ref, props, reactive, toRefs} from "vue";
import {useStore} from "vuex";

export default {
  name: "Search",
  props: {
    width: {
      type: String,
      default: "200",
    },
    showSearchBox: {//点击弹窗下方搜索框
      type: Boolean,
      default: false
    },
    showGo: {//显示GO按钮
      type: Boolean,
      default: false
    }
  },
  setup(props, context) {
    let swiper_options = reactive({
      autoplay: {
        delay: 3000,
        disableOnInteraction: false
      },
      loop: true,
      speed: 500,
      pagination: {
        clickable: true
      },
      navigation: {
        nextElRef: ".swiper-button-next",
        prevElRef: ".swiper-button-prev",
      },
      observer: true,//observer=true//修改swiper自己或子元素时，自动初始化swiper
      observeParents: true,//observeParents=true//修改swiper的父元素时，自动初始化swiper
    })
    const store = useStore();
    const input1 = ref("");
    // const keyup = () => {
    //   context.emit('search', input1.value);
    // };
    const data = reactive({
      showBottomBox: false,
      searchList: [
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Centrifuges", checked: false},
        {label: "Lorem", checked: false},
        {
          label: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias animi facere fugit hic itaque minima",
          checked: false
        },
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
        {label: "Biological Satfty Cabinets & Clean", checked: false},
      ],
      searchListSlide: [
        {label: 'All', checked: false},
        {label: 'Biobanking', checked: false},
        {label: 'Cell Culturl & Cell Therapy', checked: false},
        {label: 'Clinical', checked: false},
        {label: 'Food & Beverage', checked: false},
        {label: 'Biobanking', checked: false},
        {label: 'Product Support', checked: false},
        {label: 'Product Activity', checked: false},
      ]
    })
    const go = ()=>{
      context.emit('go',data.searchListSlide,data.searchList)
    }
    const goSearch = ()=>{
      context.emit('go',input1.value)
    }
    const searchFocus = () => {
      if (props.showSearchBox) {
        store.commit("setSearchSlideOut", true);
      }
    }
    const inputChange = ()=>{
      console.log("==== ddd=====",input1.value)
      context.emit('change',input1.value)
    }
    const clickSlideItem = (item,index) => {
      data.searchListSlide.map(item => {
        item.checked = false;
      })
      item.checked = true;
    }
    const clickCheckbox = (event)=>{
      event.stopPropagation();  //如果是连接还是会打开
    }
    return {
      store,
      input1,
      // keyup,
      searchFocus,
      inputChange,
      swiper_options,
      clickSlideItem,
      go,
      goSearch,
      clickCheckbox,
      ...toRefs(data)
    };
  },
};
</script>
<style lang='scss'>
.search {
  position: relative;

  .el-input__inner {
    border: 2px solid #74c6f0;
    border-radius: 50px;
    height: 30px;
    line-height: 30px;
  }

  .searchBottomBox {
    width: 580px;
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 99;
    background: #fff;

    .table {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #999;

      p {
        cursor: pointer;
        padding: 10px;
        width: 50%;
        min-height: 30px;
        box-sizing: border-box;
        word-break: break-all;

        &:nth-child(odd) {
          border-right: 1px solid #999;
          border-bottom: 1px solid #999;
        }

        &:nth-child(even) {
          border-bottom: 1px solid #999;
        }

        &:nth-last-child(2) {
          border-bottom: none;
        }

        &:last-child {
          border-bottom: none;
        }

        .text {
          font-size: 15px;
          margin-left: 5px;
        }
      }
    }
  }
}
</style>

<!--轮播图样式-->
<style lang="scss">
.searchBottomBox {
  .swiper-slide {
    height: 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.checked {
      background: red;
      color: #fff;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    color: gray !important;
    font-weight: bold;
  }

  --swiper-navigation-size: 20px;
}
</style>

