<template>
  <div class="contributor" v-show="person.presenterStatus">
    <div class="contributorTop">
      <el-avatar v-if="person.img||person.image" :size="130" :src="person.img||person.image"></el-avatar>
      <el-avatar v-else :size="130" style="font-size: 30px">
        {{ person.firstName[0] }}&nbsp;{{ person.lastName[0] }}
      </el-avatar>
    </div>
    <div class="contributorBottom">
      <p class="name" v-if="person.name">{{ person.name }}</p>
      <p class="name" v-else>{{ person.firstName }}&nbsp;{{ person.lastName }}</p>
      <div style="height:70px">
        <p class="title">{{ person.title }}</p>
        <p class="des">{{ person.company }}</p>
      </div>
      <el-button class="x-btn" v-if="!showEmail" @click="clickDetail">More Detail</el-button>
      <el-button class="x-btn" v-else @click="clickEmail">Email</el-button>
    </div>
  </div>
</template>

<script>
import {reactive, toRefs, computed, onBeforeMount, onMounted} from "vue";
import axios from '@/api/http.js'
import { ElLoading } from 'element-plus';

export default {
  name: "",
  props: {
    person: {
      type: Object,
    },
    showEmail: {
      type: Boolean,
      default: false
    }
  },
  setup(props, context) {
    const data = reactive({
      list: [{name: "123"}],
    });
    // console.log("person:", props.person);
    const person = props.person;
    const name = computed(() => {
      return person.firstName[0] + person.lastName[0];
    });
    const clickDetail = () => {
      const loading = ElLoading.service({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(255, 255, 255, 0.6)',
      });
      axios.request({
        method: 'PATCH',
        url: '/vmWare/presenter',
        data: {
          userId: person.id
        }
      }).then(res => {
        person['files'] = res.data.data
        context.emit("clickDetail", person);
        loading.close();
      }).catch(err => {
        loading.close();
        console.log(err);
      })
    }
    const clickEmail = () => {
      context.emit("showEmail", person);
    }
    onBeforeMount(() => {
    });
    onMounted(() => {
    });
    return {
      ...toRefs(data),
      person,
      name,
      clickDetail,
      clickEmail
    };
  },
};
</script>
<style scoped lang='scss'>
.contributor {
  width: 350px;

  .contributorTop {
    background: #0191da;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contributorBottom {
    background: #fff;
    height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;

    .name {
      color: #000;
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0;
    }

    .title {
      color: gray;
      font-size: 15px;
      margin: 10px 0;
    }

    .des {
      color: #1d4290;
      font-size: 15px;
      margin: 10px 0;
    }

    button {
      margin: 10px 0;
    }
  }
}
</style>
<style lang="scss">
.contributor {
  .el-avatar > img {
    width: 100%;
  }
}
</style>
