<template>

  <div class="contentDetail">
    <div class="contentDetailTop">
      <div class="detailLeft">
        <div class="videoContainer" @click="clickVideo" v-show="showVideo">
          <video class="video" :src="detail.virtualLink">
            Your browser does not support the video tag
          </video>
          <i class="iconfont icon-bofang"></i>
        </div>
        <img :src="detail.img" v-show="showImg" alt=""/>
      </div>
      <div class="detailRight">
        <div class="detailRightTitle">{{ detail.name }}</div>
        <div class="detailRightNote">
          <div class="note" v-for="item in detail.topTargetList">
            <span class="noteTitle textColor">{{ item.key }}</span>
            <span class="noteValue textColor">{{ item.value }}</span>
          </div>
        </div>
        <div class="detailRightText">
          {{ detail.description }}
        </div>
        <div class="detailRightNote">
          <div class="note" v-for="item in detail.bottomTargetList">
            <span class="noteTitle textColor">{{ item.key }}</span>
            <span class="noteValue textColor">{{ item.value }}</span>
          </div>
        </div>
        <div class="detailRightButtons">
          <el-button type="primary" v-show="showVideo" class="x-btn" @click="clickVideo">Watch Now</el-button>
          <el-button type="primary" class="x-btn" @click="clickPreview" v-show="showImg&&contentTypeIsppt">Preview</el-button>
          <el-button type="primary" class="x-btn" v-show="showImg" @click="downLoad">Download</el-button>
        </div>
        <div class="detailRightIcons">
          <div class="icon iconhover" @click="clickRate">
            <i class="iconfont icon-dafen"></i>
            <span>Rate</span>
          </div>
          <div class="icon iconhover" @click="toggleFavorite">
            <i class="iconfont icon-rili" v-show="showAddToFavorite"></i>
            <i class="iconfont icon-quxiao" v-show="!showAddToFavorite"></i>
            <span v-show="showAddToFavorite">Add to<br>My Favorite</span>
            <span v-show="!showAddToFavorite">Remove from<br> Favorite</span>
          </div>
          <!--<div class="icon iconhover">-->
          <!--  <i class="iconfont icon-fenxiang"></i>-->
          <!--  <span>Share</span>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="contributors">
      <p class="title textColor">Contributors</p>
      <div class="avatorContainer">
        <avator :reverse="true" v-for="(item,index) in detail.contributors" :data="item"></avator>
      </div>
    </div>
  </div>
  <!--Rate-->
  <el-dialog
      :show-close="true"
      v-model="dialogVisible"
      width="600"
      custom-class="dialogRate"
  >
    <p class="title">1.Please rate the usefulness of this presentation to you:</p>
    <p class="rateNumber">
      <span v-for="(item,index) in 5">{{ index + 1 }}</span>
    </p>
    <el-rate v-model="detail.rateValue" class="rate"></el-rate>
    <p class="btnContainer">
      <el-button class="doneBtn x-btn" @click="clickDone">Done</el-button>
    </p>
  </el-dialog>
  <!--Privew-->
  <el-dialog
      :show-close="true"
      v-model="dialogPreview"
      width="80%"
      custom-class="previewDialog noPadding"
  >
    <p class="title textColor">Preview</p>
    <p class="subTitle">{{ detail.name }}</p>

    <div class="carouselContainer">
      <!--轮播图 -->
      <!--<el-carousel type="card" height="300px" :autoplay="false">-->
      <!--  <el-carousel-item v-for="item in carouselData" :key="item">-->
      <!--    <img :src="item.image" alt="">-->
      <!--  </el-carousel-item>-->
      <!--</el-carousel>-->
      <el-carousel height="300px" :autoplay="false" :indicator-position="'none'" class="carouselContent">
        <el-carousel-item style="width:100%" v-for="item in carouselDataLength">
          <img v-for="jtem in detail.previewList.slice((item-1)*4,(item-1)*4+4)" :src="jtem.specialPreviewLink">
        </el-carousel-item>
      </el-carousel>
    </div>
    <div class="btns">
      <el-button class="x-btn" style="width:210px;margin-right: 30px;">Import to Presentation Builder</el-button>
      <el-button class="x-btn" style="width: 210px">Download Presentation</el-button>
    </div>
  </el-dialog>
  <!--Video-->
  <el-dialog v-model="dialogVideo" width="60%" height="200px" custom-class="videoPadding">
    <p class="dialogTitle textColor">{{ detail.name }}</p>
    <video id="myVideo" v-show="true" class="video" :src="detail.virtualLink" @click="clickVideo" style="width:100%;"
           controls="controls" controlsList="nodownload noremoteplayback" disablePictureInPicture>
      Your browser does not support the video tag
    </video>
  </el-dialog>
</template>

<script lang='ts'>
import {computed, defineComponent, reactive, toRaw, toRefs, watch} from 'vue';
import avator from '@/components/tools/avator.vue';
import {useRoute} from 'vue-router';
import axios from '@/api/http.js';
import {ElMessage} from "element-plus";
import {ElLoading} from 'element-plus';

interface DataProps {
}

export default defineComponent({
  name: '',
  components: {
    avator,
  },
  props: {
    data: {
      type: Array,
    },
  },
  setup(props, context) {
    const route = useRoute();
    // const detail = toRaw(props.data);
    // console.log("==== detail=====",detail)
    // console.log("==== assignedAttendees=====",detail['assignedAttendees'])
    // detail: JSON.parse(JSON.stringify(props.data))

    const data = reactive({
      contentTypeIsppt:false,//content type是ppt才显示preview按钮
      dialogVisible: false,
      dialogPreview: false,
      // rateValue: null,
      originRateValue: null,
      showAddToFavorite: true,
      id: route.query.id,
      detail: props.data,
      showImg: true,
      showVideo: false,
      // carouselData: [
      //   {image: require("../../assets/imgs/carousel1.jpeg"), id: '1-1'},
      //   {image: require("../../assets/imgs/carousel2.jpeg"), id: '1-2'},
      //   {image: require("../../assets/imgs/carousel3.jpeg"), id: '1-3'},
      //   {image: require("../../assets/imgs/carousel3.jpeg"), id: '1-4'},
      //   {image: require("../../assets/imgs/carousel2.jpeg"), id: '2-1'},
      //   {image: require("../../assets/imgs/carousel1.jpeg"), id: '2-2'},
      //   {image: require("../../assets/imgs/carousel3.jpeg"), id: '2-3'},
      //   {image: require("../../assets/imgs/carousel3.jpeg"), id: '2-4'},
      //   {image: require("../../assets/imgs/carousel3.jpeg"), id: '3-1'},
      //   {image: require("../../assets/imgs/carousel1.jpeg"), id: '3-2'},
      //   {image: require("../../assets/imgs/carousel1.jpeg"), id: '3-3'},
      //   {image: require("../../assets/imgs/carousel1.jpeg"), id: '3-4'},
      //   {image: require("../../assets/imgs/carousel1.jpeg"), id: '4-1'},
      //   {image: require("../../assets/imgs/carousel1.jpeg"), id: '4-2'},
      // ],
      dialogVideo: false,
    });
    data.originRateValue = props.data["rateValue"];
    const checkContentType = ()=>{
      let length = data.detail["bottomTargetList"].length;
      for(let i = 0; i < length; i++){
        let item = data.detail["bottomTargetList"][i];
        if(item.key=="Content Type:"){
          if(item.value=='pptx'||item.value=='ppt'){
            data.contentTypeIsppt = true;
          }else{
            data.contentTypeIsppt = false;
          }
        }
      }
    }
    checkContentType();
    const carouselDataLength = computed(() => {
      return Math.ceil(data.detail["previewList"].length / 4)
    });
    // 查看当前是否加入了favorite
    // const checkFavorite = () => {
    //   let length = detail['assignedAttendees'].length;
    //   for (let i = 0; i < length; i++) {
    //     let item = detail['assignedAttendees'][i];
    //     let id = JSON.parse(localStorage.getItem('campusInfo')).userId;
    //     console.log("====item =====",item)
    //     console.log("====id =====",id)
    //     if (item == id) {
    //       data.showAddToFavorite = false;
    //       break;
    //     }
    //   }
    // };
    const checkFavorite = () => {
      let length = data.detail['assignedAttendees'].length;
      if (length == 0) {
        data.showAddToFavorite = true;
      } else {
        for (let i = 0; i < length; i++) {
          let item = data.detail['assignedAttendees'][i];
          let id = JSON.parse(localStorage.getItem('campusInfo')).userId;
          if (item == id) {
            data.showAddToFavorite = false;
            break;
          } else {
            data.showAddToFavorite = true;
          }
        }
      }
    };
    checkFavorite();
    // 打分
    const clickRate = () => {
      data.dialogVisible = true;
    };
    // 加入/取消 Favorite
    const toggleFavorite = () => {
      axios.request({
        method: 'POST',
        url: '/m/updateMyAgenda/',
        data: {
          agendaId: data.id,
          meetingId: 'a7yyxczuty0qpjo2393gmyad',
          // meetingId: localStorage.eventsMeetingId,
          isAdd: data.showAddToFavorite ? 1 : 0
        }
      }).then(res => {
        console.log('res:', res);
        data.showAddToFavorite = !data.showAddToFavorite;
      }).catch(err => {
        console.log(err);
      });
    };
    // 确认打分
    const clickDone = () => {
      const loading = ElLoading.service({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(255, 255, 255, 0.5)',
      });
      axios.request({
        method: 'POST',
        url: '/vmWare/updateAgendaMark',
        data: {
          agendaId: data.id,
          rateValue: props.data["rateValue"],
        }
      }).then(res => {
        console.log('res:', res);
        data.originRateValue = props.data["rateValue"];
        loading.close();
        ElMessage({
          type: 'success',
          message: 'success'
        });
        data.dialogVisible = false;
      }).catch(err => {
        console.log(err);
        data.dialogVisible = false;
        loading.close();
      })
    };
    // 点击Preview
    const clickPreview = () => {
      data.dialogPreview = true;
    };
    // 点击Preview弹窗里面的图片
    const clickCarouselImg = () => {

    };
    // 点击视频播放
    const clickVideo = () => {
      data.dialogVideo = true;
    }
    const playVideo = () => {
      let video = <HTMLVideoElement>document.getElementById("myVideo");
      video.play();
    }
    const stopVideo = () => {
      let video = <HTMLVideoElement>document.getElementById("myVideo");
      video.pause();
    }
    // 获取当前content的类型，根据类型展示不同界面
    const getContentType = () => {
      // console.log("==== data.detail.contentType=====",props.data["ContentType"])
      if (data.detail["ContentType"] == 'video') {
        data.showVideo = true;
        data.showImg = false;
      } else {
        data.showVideo = false;
        data.showImg = true;
      }
    }
    getContentType();
    const downLoad = () => {
      // window.open('vmWare/fileDownload?id'+data.id);
      axios.request({
        method: 'GET',
        url: 'vmWare/fileDownload',
        params: {
          id: data.id
        }
      }).then(res => {
        window.open(res.data.data.fileUrl);
      }).catch(err => {
        console.log(err);
      })
    };
    watch(() => props.data, (newValue, oldVlaue) => {
      data.showImg = false;
      data.detail = newValue;
      setTimeout(() => {
        data.showImg = true;
      }, 500);
      checkFavorite();
    });
    watch(() => data.dialogVideo, (newValue, oldVlaue) => {
      if (!newValue) {
        stopVideo();
      }
    });
    watch(() => data.dialogVisible, (newValue, oldVlaue) => {
      if (!newValue) {
        console.log("====originRateValue =====", data["originRateValue"])
        data.detail["rateValue"] = data["originRateValue"];
      }
    });
    return {
      ...toRefs(data),
      carouselDataLength,//4张图片为一组，将轮播图分为几组
      clickRate,
      clickDone,
      checkFavorite,
      // detail,
      toggleFavorite,
      clickPreview,
      clickCarouselImg,
      clickVideo,
      playVideo,
      stopVideo,
      getContentType,
      downLoad,
      checkContentType
    };
  },
});
</script>
<style scoped lang="scss">
.contentDetail {
  min-height: 385px;

  .contentDetailTop {
    display: flex;

    .detailLeft {
      width: 400px;
      height: 220px;

      .videoContainer {
        position: relative;
        cursor: pointer;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          font-size: 90px;
          color: gray;
        }

        .video {
          width: 100%;
          height: 100%;
        }
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .detailRight {
      flex: 1;

      .detailRightTitle {
        font-size: 20px;
        font-weight: bold;
      }

      .detailRightNote {
        display: flex;

        .note {
          margin-right: 10px;

          .noteTitle {
            font-size: 15px;
            font-weight: bold;
            margin-right: 5px;
          }

          .noteValue {
            font-size: 14px;
          }
        }
      }

      .detailRightText {
        font-size: 15px;
        width: 70%;
      }

      .detailRightButtons {
        button {
          margin-right: 15px;
        }
      }

      .detailRightIcons {
        display: flex;

        .icon {
          margin-right: 30px;
          display: flex;
          align-items: center;
          cursor: pointer;

          //&:hover {
          //  color: #86d827;
          //
          //  .iconfont {
          //    color: #86d827;
          //  }
          //}

          .iconfont {
            font-size: 30px;
            color: gray;
            margin-right: 10px;
          }

          img {
            margin-right: 5px;
          }
        }
      }
    }

    .detailRight > div {
      margin: 0 0 15px 20px;
    }
  }

  .contributors {
    height: 100px;
    padding-top: 10px;

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .avatorContainer {
      display: flex;
      margin-top: 10px;

      div {
        margin-right: 30px;
      }
    }
  }
}
</style>

<style lang="scss">
//打分
.dialogRate {
  .el-dialog__header {
    padding: 0;
  }

  .title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .el-rate__icon {
    font-size: 30px;
    margin-right: 0;
  }

  .el-rate {
    display: flex;
    justify-content: space-around;
    height: auto;
    //background: #e1e1e1;
    //padding:5px 0;
  }

  .rateNumber {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  .btnContainer {
    text-align: center;
    margin-top: 30px
  }
}

//preview
.previewDialog {
  .title {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .subTitle {
    font-weight: bold;
    font-size: 18px;
  }

  .carouselContainer {
    margin: 10px 0;
  }

  .btns {
    text-align: center;
  }
}

//video
.videoPadding {
  .dialogTitle {
    padding: 18px 0 0 10px;
    margin-bottom: 20px;
  }

  .el-dialog__header {
    padding: 0;
  }

  .el-dialog__body {
    padding: 0;
  }
}
</style>

<!--轮播图-->
<style lang="scss">
.carouselContainer {
  .carouselContent {
    height: 300px;

    .el-carousel__arrow {
      height: 80%;
      border-radius: 0px;
    }

    .el-carousel__item {
      background: #fff;
      display: flex;
      align-items: center;

      img {
        width: 24%;
        height: 200px;
        object-fit: cover;

        &:not(:first-child) {
          margin-left: 1.33%;
        }
      }
    }

  }
}
</style>
