<template>
  <el-dialog title="Contributor" custom-class="contributorDetail" :width="800">
    <div class="diglogContainer">
      <div class="containerLeft">
        <contributor :person="data" :showEmail="true"></contributor>
        <!--<div class="containerLeftTop">-->
        <!--  <el-avatar class="avatorCircle" v-if="data.img!=''" :size="130" :src="data.img"></el-avatar>-->
        <!--  <el-avatar class="avatorCircle" v-else :size="130" style="font-size: 30px">-->
        <!--    {{ name }}-->
        <!--  </el-avatar>-->
        <!--</div>-->
        <!--<div class="containerLeftBottom">2</div>-->
      </div>
      <div class="containerRight">
        <p class="title">Contributor content</p>
        <div class="items">
          <p v-for="item in data.files">
            <i class="iconfont icon-pdf"></i>
            <span>{{item.filename}}</span>
          </p>
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script lang='ts'>
import {defineComponent, computed, reactive, toRefs, onBeforeMount, onMounted} from 'vue';
import contributor from '@/components/page/contributor.vue';


export default defineComponent({
  name: '',
  props: {
    data: {
      type: Object,
    }
  },
  components: {
    contributor
  },
  setup(props) {
    const name = computed(() => {
      return props.data.firstName[0] + props.data.lastName[0];
    });
    return {
      name
    };
  }
});
</script>
<style lang="scss">
.contributorDetail {
  .el-dialog__title {
    color: #1d4290;
    font-weight: bold;
  }

  .el-dialog__body {
    padding: 0;
  }

  .diglogContainer {
    display: flex;

    .containerLeft {
      .containerLeftTop {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        background: #0191da;

        .el-avatar > img {
          width: 100%;
          height: 100%;
        }

        .avatorCircle {
          font-size: 30px;
        }
      }

      .containerLeftBottom {
      }
    }

    .containerRight {
      background: #f1f9fc;
      flex: 1;
      padding:30px 50px;
      .title {
        font-size: 20px;
        color: #000;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .items {
        p{
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          img{
            margin-right: 5px;
          }
        }
        .iconfont{
          font-size: 25px;
          margin-right: 10px;
        }
      }
    }
  }
}
</style>
