<template>
  <div class="favorite" :class="{'showShadow':showShadow}">
    <p class="titleTop textColor" v-if="titleOnTop">{{ data.title }}</p>
    <div class="imgContainer" :style="`background: url(${data.img})center center / cover no-repeat;padding-bottom:calc(${paddingBottom}%)`">
    </div>
     <!--<img class="displayImg" :src="data.img" alt="" />-->
    <p class="centerText" v-show="showName">{{ data.name }}</p>
    <img
        v-show="showClose"
        class="closeIcon"
        @click="deleteItem(data.id)"
        src="@/assets/imgs/iconClose.jpg"
        alt=""
    />
    <!--<p class="title textColor" v-if="!titleOnTop">{{ data.title }}</p>-->
    <p class="title textColor" v-if="!titleOnTop">{{ data.name }}</p>
    <p class="bottomText" v-show="showBottomText">{{ data.description }}</p>
  </div>
</template>

<script lang="ts">
import {reactive, toRefs} from 'vue';

// 定义一个接口，约束favorites的类型
interface Img {
  img: string;
  id: number;
  // id: string; 如果定义是String类型但是数据是number类型的就会提示出错
}

export default {
  name: '',
  props: {
    data: {
      type: Object as () => Img,
      //   type: Object,
    },
    showShadow: {
      type: Boolean,
      default: false, //图片阴影，默认不显示
    },
    showClose: {
      type: Boolean,
      default: false, //图片右上角的关闭按钮,默认不显示
    },
    showName: {
      type: Boolean,
      default: false, //图片中间的文字,默认不显示
    },
    showBottomText: {
      type: Boolean,
      default: true, //图片下方的文字,默认不显示
    },
    flexable: {
      //为true时,图片自适应父级元素宽度,否则是默认的宽度或则设置的宽度
      type: Boolean,
      default: false,
    },
    titleOnTop: {
      //为true时,图片title默认在上
      type: Boolean,
      default: true,
    },
    paddingBottom: {
      type: Number,
      default: 55,
    },
  },
  setup(props, context) {
    const methods = {
      deleteItem(id) {
        context.emit('deleteItem', id);
      },
    };
    return {
      ...methods,
    };
  },
};
</script>
<style scoped lang='scss'>
.favorite {
  width: 100%;
  //height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: baseline;
  justify-content: space-between;
  background: #f7f7f8;
  &.showShadow{
    box-shadow: 1px 1px 4px #888888;
  }
  .titleTop {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    color: #000;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    margin: 12px 10px;
  }

  .imgContainer {
    width: 100%;
    //padding-bottom: calc(55%);
    background-color: #ccc;
    box-sizing: border-box;
  }

  //.displayImg {
  //  width: 100%;
  //  height: 100%;
  //}

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .centerText {
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    width: 100%;
    text-align: center;
  }

  .bottomText {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
</style>
