<template>
  <div
      class="favorite"
      @click="clickImg(data.id)"
      :style="{
      width: flexable == true ? '100%' : width + 'px',
      height: flexable == true ? auto : height + 'px',
    }"
  >
    <p class="title textColor" v-if="showTitle && titleOnTop">{{ data.title }}</p>
    <img class="displayImg" :src="data.img" alt=""/>
    <!-- <img class="displayImg" :src="data.img" alt="" /> -->
    <!--<p class="centerText" v-show="showName">{{ data.name }}</p>-->
    <i class="mainBackground closeIcon iconfont icon-guanbi"
       style="font-size: 20px;color:#fff;"
       v-show="showClose"
       @click="deleteItem(data.id)"
    ></i>
    <!--<img-->
    <!--    v-show="showClose"-->
    <!--    class="closeIcon"-->
    <!--    @click="deleteItem(data.id)"-->
    <!--    src="@/assets/imgs/iconClose.jpg"-->
    <!--    alt=""-->
    <!--/>-->
    <p class="textColor bottomName" v-show="showName">{{ data.title }}</p>
    <p class="title textColor" v-if="showTitle && !titleOnTop">{{ data.title }}</p>
    <p class="bottomText" v-show="showBottomText">{{ data.description }}</p>
  </div>
</template>

<script lang="ts">
import {reactive, toRefs} from 'vue';

// 定义一个接口，约束favorites的类型
interface Img {
  img: string;
  id: number;
  // id: string; 如果定义是String类型但是数据是number类型的就会提示出错
}

export default {
  name: '',
  props: {
    data: {
      type: Object as () => Img,
      //   type: Object,
    },
    width: {
      type: Number,
      default: 300, //图片宽度,默认300px
    },
    height: {
      type: Number,
      default: 200, //图片高度,默认200px
    },
    showClose: {
      type: Boolean,
      default: false, //图片右上角的关闭按钮,默认不显示
    },
    showTitle: {
      type: Boolean,
      default: false, //图片右上角的关闭按钮,默认不显示
    },
    showName: {
      type: Boolean,
      default: false, //图片中间的文字,默认不显示
    },
    showBottomText: {
      type: Boolean,
      default: true, //图片下方的文字,默认不显示
    },
    flexable: {
      //为true时,图片自适应父级元素宽度,否则是默认的宽度或则设置的宽度
      type: Boolean,
      default: false,
    },
    titleOnTop: {
      //为true时,图片title默认在上
      type: Boolean,
      default: true,
    },
  },
  setup(props, context) {
    const methods = {
      deleteItem(id) {
        context.emit('deleteItem', id);
      },
      clickImg(id){
        context.emit('clickImg', id);
      }
    };
    return {
      ...methods,
    };
  },
};
</script>
<style scoped lang='scss'>
.favorite {
  position: relative;

  .title {
    font-size: 14px;
    font-weight: bold;
  }

  .displayImg {
    width: 100%;
    height: 100%;
  }

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .centerText {
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    width: 100%;
    text-align: center;
  }
  .bottomName{
    background: #f7f7f8;
    color: #7186ae;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding: 2px 0 2px 11px;
    font-weight: bold;
  }
  .bottomText {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .title {
    margin: 5px 0;
  }
}
</style>
