<template>
  <div class="navBar">
    <el-menu
        :default-active="path"
        class="el-menu-vertical-demo"
        :router="true"
        active-text-color="#About7BE4FF"
    >
      <el-menu-item
          v-for="(item, index) in navItems"
          :index="item.index"
          :key="index"
          class="leftNavContainer"
      >
        <!--<img :src="item.iconActive" v-show="item.index==route.path" alt="">-->
        <!--<img :src="item.icon" v-show="item.index!=route.path" alt="">-->
        <!--<span>{{ item.name }}</span>-->

        <el-badge :value="notificationNumber" class="item" v-if="item.name=='Notification'">
          <img :src="item.iconActive" v-show="item.index==route.path" alt="">
          <img :src="item.icon" v-show="item.index!=route.path" alt="">
          <span>{{ item.name }}</span>
        </el-badge>
        <p v-else class="item">
          <img :src="item.iconActive" v-show="item.index==route.path" alt="">
          <img :src="item.icon" v-show="item.index!=route.path" alt="">
          <span>{{ item.name }}</span>
        </p>
      </el-menu-item>
    </el-menu>
  </div>
</template>
<script lang="ts">
import {defineComponent, ref, reactive, onMounted, toRefs} from 'vue';
import {useRoute, onBeforeRouteUpdate} from 'vue-router';
import {createLogger} from 'vuex';
import axios from '@/api/http.js';

interface ObjValidate {
  item: string
  action_url: string
  action_target: string
  [key: string]: any
}

export default defineComponent({
  name: 'navBar',
  props: ['msg'],
  setup(props, context) {
    onBeforeRouteUpdate((to: any) => {
      // console.log(to,"===========")
      if (to.path == '/tracks' || to.path == '/content') {
        path.value = '/allContents';
      } else {
        path.value = to.path;
      }
    });
    const route = useRoute(); // 第一步
    // const href = window.location.href;
    // const index = href.indexOf("#");
    // const sb = href.substring(index+1,href.length);
    // console.log("sb:",sb)
    // const path = ref(sb);
    const path = ref(route.path);
    if (path.value == '/tracks' || path.value == '/content') {
      path.value = '/allContents';
    }
    console.log('path:', path.value);
    const data = reactive({
      navItems: [
        // {name: 'Home', index: '/home'},
        // {name: 'All Content', index: '/content'},
        // {name: 'Contributors', index: '/contributors'},
        // {name: 'Presentation Builder', index: '/presentation'},
        // {name: 'Notification', index: '/notification'},
        // {name: 'My Favorites', index: '/favorites'},
      ],
      notificationNumber:0,
    });
    // const formatData = (data) => {
    //   let arr = [];
    //   data.map(item => {
    //     let obj = {
    //       name:'',
    //       index:'',
    //     };
    //     obj.name = item.item;
    //     obj.index = item.link;
    //     // obj['name'] = item.item;
    //     // obj['index'] = item.link;
    //     arr.push(obj);
    //   });
    //   console.log(arr);
    //   return arr;
    // };


    const formatData = (data:Array<ObjValidate>) => {
      let arr = [];
      data.map(item => {
        let obj = {
        };
        obj['icon'] = item.icon;
        obj['iconActive'] = item.iconActive;
        obj['name'] = item.item;
        obj['index'] = item.action_url;
        obj['target'] = item.action_target;
        arr.push(obj);
      });
      return arr;
    };
    const getData = () => {
      axios.request({
        method: 'PATCH',
        url: 'vmWare/eventsNav',
        data: {
          meetingId: 'a7yyxczuty0qpjo2393gmyad',
          // meetingId: localStorage.eventsMeetingId,

        }
      }).then(res => {
        console.log('routes:', res.data.data);
        data.navItems = formatData(res.data.data[0].contents);
      });
    };
    getData();
    const getNotificationData = () => {
      axios.request({
        method: 'PATCH',
        url: '/vmWare/notification',
        data: {
          meetingId: 'a7yyxczuty0qpjo2393gmyad'
          // meetingId: localStorage.eventsMeetingId,
        }
      }).then(res => {
        data.notificationNumber = res.data.data.length;
      }).catch(err => {
        console.log(err);
      })
    }
    getNotificationData();
    return {
      ...toRefs(data),
      path,
      formatData,
      getNotificationData,
      route
    };
  },
});
</script>

<style scoped lang="scss">
.navBar {
  max-width: 200px;
  width: 100px;
  .leftNavContainer{
    .item{
      display: flex;
      flex-flow: column;
      align-items: center;
      img{
        width:25px;
      }
    }
  }
}

.navBar .el-menu-item {
  //text-align: left;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  //margin-top: 30px;
}

.navBar .el-menu {
  height: 100%;
  border: none;
}

.navBar {
  .el-menu-item {
    i {
      margin-bottom: 10px;
    }

    span {
      white-space: normal;
      line-height: 20px;
      text-align: center;
    }
  }
}
</style>
