<template>
  <div class="navBarSlideOut">
    <el-menu
        :default-active="path"
        class="el-menu-vertical-demo"
        :router="true"
        active-text-color="#About7BE4FF"
    >
      <el-menu-item
          v-for="(item, index) in navItems"
          :index="item.index"
          :key="index"
          class="leftNavContainer"
      >
        <img style="margin-right: 10px" :src="item.iconActive" v-show="item.index==route.path" alt="">
        <img style="margin-right: 10px" :src="item.icon" v-show="item.index!=route.path" alt="">
        <span>{{ item.name }}</span>
        <span class="notificationNum" v-if="item.name=='Notification'">{{notificationNumber}}</span>

      </el-menu-item>
    </el-menu>
  </div>
</template>
<script lang="ts">
import {defineComponent, ref, reactive, onMounted, toRefs} from 'vue';
import {onBeforeRouteUpdate, useRoute} from 'vue-router';
import axios from '@/api/http.js';


export default defineComponent({
  name: 'navBar',
  props: ['msg'],
  setup(props, context) {
    onBeforeRouteUpdate((to: any) => {
      // console.log(to,"===========")
      if (to.path == '/tracks' || to.path == '/content') {
        path.value = '/allContents';
      } else {
        path.value = to.path;
      }
    });
    const route = useRoute(); // 第一步
    // const href = window.location.href;
    // const index = href.indexOf("#");
    // const sb = href.substring(index+1,href.length);
    // console.log("sb:",sb)
    // const path = ref(sb);
    const path = ref(route.path);
    if (path.value == '/tracks' || path.value == '/content') {
      path.value = '/allContents';
    }
    console.log('path:', path.value);
    const data = reactive({
      navItems: [
        // {name: 'Home', index: '/home'},
        // {name: 'All Content', index: '/content'},
        // {name: 'Contributors', index: '/contributors'},
        // {name: 'Presentation Builder', index: '/presentation'},
        // {name: 'Notification', index: '/notification'},
        // {name: 'My Favorites', index: '/favorites'},
      ],
      notificationNumber:0,
    });
    const formatData = (data) => {
      let arr = [];
      data.map(item => {
        let obj = {};
        obj['icon'] = item.icon;
        obj['iconActive'] = item.iconActive;
        obj['name'] = item.item;
        obj['index'] = item.action_url;
        obj['target'] = item.action_target;
        arr.push(obj);
      });
      console.log(arr);
      return arr;
    };
    const getData = () => {
      axios.request({
        method: 'PATCH',
        url: 'vmWare/navigationSlide',
        data: {
          meetingId: 'a7yyxczuty0qpjo2393gmyad',
          // meetingId: localStorage.eventsMeetingId,
        }
      }).then(res => {
        console.log('routes:', res.data.data);
        data.navItems = formatData(res.data.data[0].contents);
      });
    };
    getData();
    const getNotificationData = () => {
      axios.request({
        method: 'PATCH',
        url: '/vmWare/notification',
        data: {
          meetingId: 'a7yyxczuty0qpjo2393gmyad'
          // meetingId: localStorage.eventsMeetingId,
        }
      }).then(res => {
        data.notificationNumber = res.data.data.length;
      }).catch(err => {
        console.log(err);
      })
    }
    getNotificationData();
    return {
      ...toRefs(data),
      path,
      getData,
      getNotificationData,
      route
    };
  },
  beforeRouteUpdate(to, from, next) {
    console.log('to:', to);
    console.log('from:', from);
  }
});
</script>

<style scoped lang="scss">
.navBarSlideOut {
  max-width: 210px;
  width: 210px;
  position: absolute;
  z-index: 99;
  top: 60px;
  border-right: 1px solid #6ac7f1;
  height: calc(100% - 60px);
  .notificationNum{
    border-radius: 10px;
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #FFF;
    background: #409EFFed;
    margin-left: 5px;
  }
}

.navBarSlideOut .el-menu-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navBarSlideOut .el-menu {
  height: 100%;
  border: none;
}

</style>
