<template>
  <div class="topBar" @click="clickTopBar">
    <div class="topBarLeft">
      <i
          class="iconfont icon-shezhi"
          @click="clickSetting"
          style="cursor: pointer"
      ></i>
      <p style="font-size: 25px; margin-left: 50px; color: gray">vmware</p>
    </div>
    <div class="topBarRight">
      <searchBox style="margin-right: -90px" :showGo="true" @go="go"></searchBox>
      <!--<searchBox :showSearchBox="true" style="margin-right: -90px" @go="go"></searchBox>-->
      <avator
          :data="user"
          style="cursor: pointer; position: relative; right: -123px"
      ></avator>
      <el-select
          v-model="select"
          placeholder=""
          style="width: 125px; opacity: 0"
      >
        <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            @click="clickOption(item)"
        >
        </el-option>
      </el-select>
    </div>
  </div>
  <div class="divideLine"></div>
  <!--<navBarSlideOut v-if="shownavBarSlideOut"></navBarSlideOut>-->
  <navBarSlideOut v-show="store.state.appStore.navBarSlideOut"></navBarSlideOut>
</template>

<script lang="ts">
import {defineComponent, ref, reactive, toRefs, watch} from "vue";
import searchBox from "@/components/tools/search.vue";
import avator from "@/components/tools/avator.vue";
import navBarSlideOut from "@/components/nav/navBarSlideOut.vue";
import {useStore} from "vuex";
import {useRouter} from "vue-router";
import axios from '@/api/http.js';


export default defineComponent({
  name: "topBar",
  props: ["msg"],
  components: {
    searchBox,
    avator,
    navBarSlideOut,
  },
  setup(props, context) {
    const router = useRouter();
    const store = useStore();
    watch(() => store.state.searchAgenda.keyword, (val, old) => {
      console.log(val, old)
    })
    const data = reactive({
      shownavBarSlideOut: false,
      select: "",
      options: [
        {label: "Edit My Profile", value: "1"},
        {label: "My Events", value: "2"},
        {label: "Log Out", value: "3"},
      ],
      user: JSON.parse(localStorage.getItem('campusInfo')),
      timeout: null,
      cancelRequest: null,
    });
    const clickSetting = () => {
      // data.shownavBarSlideOut = !data.shownavBarSlideOut;
      let isOpen = store.state.appStore.navBarSlideOut;
      store.commit("setnavBarSlideOut", !isOpen);
    };
    const clickOption = (data) => {
      if (data.value == "2") {
        router.push({name: "Mec"});
      } else if (data.value == "3") {
        router.push({name: "Login"});
        localStorage.eventsMeetingId = "";
      }
    };
    // 带有下拉列表的go，后面再完善这个功能，别删！！！！！！！！！
    // const go = (slideData, listData) => {
    //   console.log("====slideData =====",slideData)
    //   let length = slideData.length;
    //   let data1 = "";
    //   let data2 = [];
    //   for (let i = 0; i < length; i++) {
    //     let item = slideData[i];
    //     if (item.checked) {
    //       data1 = item.label;
    //       break
    //     }
    //   }
    //   let lengthList = listData.length;
    //   for (let i = 0; i < lengthList; i++) {
    //     let item = listData[i];
    //     if(item.checked){
    //       data2.push(item);
    //     }
    //   }
    //   router.push({name: "searchAgenda"});
    //   console.log("==== data1=====",data1)
    //   console.log("==== data2=====",data2)
    // }
    const go = (data) => {
      console.log("====data =====", data)
      router.push({
        name: "searchAgenda", query: {keyword: data},
      });


    }
    // const search = (keyword) => {
    //   store.commit("setKeyword", keyword);
    // }

    // const search = (keyword) => {
    //   if(data.cancelRequest){
    //     data.cancelRequest();
    //   }
    //   let CancelToken = axios.CancelToken;
    //   if(data.timeout){
    //     clearTimeout(data.timeout);
    //     data.timeout = null;
    //   }
    //   data.timeout = setTimeout(()=>{
    //     axios.request({
    //       method: 'PATCH',
    //       url: '/vmWare/agendas',
    //       data: {
    //         meetingId: "a7yyxczuty0qpjo2393gmyad",
    //         keyword:keyword
    //       },
    //       cancelToken: new CancelToken((c) => {
    //         data.cancelRequest = c;
    //       })
    //     }).then(res => {
    //       console.log('res:', res);
    //       router.push({name: "Tracks"});
    //     }).catch(err => {
    //       console.log(err);
    //     })
    //   },300)
    // }
    const clickTopBar = (e) => {
      // console.log("==== =====",e.target.className)
      let res = e.target.className == 'topBar' || e.target.className == 'topBarLeft' || e.target.className == 'topBarRight';
      if (res) {
        store.commit("setnavBarSlideOut", false);
        store.commit("setSearchSlideOut", false);
      }
    }
    return {
      ...toRefs(data),
      clickSetting,
      clickOption,
      store,
      // search,
      clickTopBar,
      go
    };
  },
});
</script>

<style scoped lang="scss">
.topBar {
  height: 60px;
  min-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;

  .topBarLeft {
    display: flex;
    margin-left: 20px;
  }

  .topBarRight {
    display: flex;
  }

  .icon-shezhi {
    font-size: 20px;
    color: #74c6f0;
  }
}

.divideLine {
  background: linear-gradient(to right, #6de255, #2bafc2, #2529f1, #4b0355);
  height: 6px;
  min-width: 1280px;
}
</style>
